[2019-01-14 17:17] eldios opened #1 "KeyError: 'entities'"
hey @somm15,
Using [oischinger/ha_vicare](https://github.com/oischinger/ha_vicare) I got the following error:

[code]

Ignore the `homeassistant_1` log prefix, that's added by docker-compose.

Version: `Home Assistant 0.85.0`
Deployed via Docker image `homeassistant/homeassistant`

Any hint on what's happening there?

[2019-01-14 19:25] somm15 commented on #1
I suspect that you have only an installation number 2 or something like that.
Could you please add the following lines to the script calling PyViCare:

[code]

I'll analyse the JSON

[2019-01-14 19:56] eldios commented on #1
@somm15 it didn't change the output LOG level unfortunately

[2019-01-14 19:57] eldios commented on #1
it's happening here, btw:

https://github.com/oischinger/ha_vicare/blob/master/vicare.py#L19

[2019-01-14 20:19] somm15 commented on #1
I forgot to mention that you have to fetch the new code from GitHub.
I know where it happens but I don't know the JSON response you get from the API unfortunately...

[2019-01-14 20:50] eldios commented on #1
@somm15 is the new code on PIP already?

[2019-01-14 20:58] somm15 commented on #1
@eldios Now it is as version 0.0.8

[2019-01-14 21:03] eldios commented on #1
[code]

[2019-01-14 21:07] somm15 commented on #1
Wrong username or password.
The username is an e-mail address.

The error handling could be improve to print a meaningful message 👍

[2019-01-14 21:40] eldios commented on #1
I just double-checked by trying those same entries via the mobile Android App and they're correct sadly.

I have the entries wrapped in " and there's ! and ? in the password. I don't think it should be a problem, but FYI.

[2019-01-14 21:43] somm15 commented on #1
Good point, I have to URL encode the password. I'll fix that later tonight or tomorrow.
My bad.

[2019-01-14 21:54] somm15 commented on #1
0.0.9 done. I hope it solves it

[2019-01-14 22:41] eldios commented on #1
@somm15 to be sure I removed all punctuation from my password and tried again with 0.0.9 ... same error :)

[2019-01-14 22:43] somm15 commented on #1
Did you delete /tmp/vicare_token.save  ?

[2019-01-14 22:45] eldios commented on #1
I did and I also deleted and reinstalled the Python module :)

[2019-01-14 22:47] somm15 commented on #1
and can you login there?
https://iam.viessmann.com/idp/v1/authorize?response_type=code&client_id=79742319e39245de5f91d15ff4cac2a8&redirect_uri=vicare%3A%2F%2Foauth-callback%2Feverest&scope=openid&state=07V6NIymFCZwnWkoL8SkRZZikeFmo2

[2019-01-14 22:55] eldios commented on #1
yup, logging in works perfectly through web :+1:

[2019-01-14 22:57] somm15 commented on #1
Ok, last attempt for today. Version 0.0.11

[2019-01-14 23:05] somm15 commented on #1
Could you also run a python script with:
[code]

[2019-01-14 23:13] somm15 commented on #1
@eldios I deleted your comment, password was in the logs.

[2019-01-14 23:13] eldios commented on #1
oh... thanks :)
well you can try yourself then if you want. Let me know when you're done and I'll change it again as it was a temporary one.

[2019-01-14 23:17] somm15 commented on #1
Change it then. I tried and it does work now with version 0.0.11
There must be something with your or my install. I just can't figure out what.

[2019-01-14 23:20] somm15 commented on #1
Ok, it looks like I don't handle path properly yet.
Try storing to token.bin without a folder. I'll fix it.

[2019-01-14 23:23] eldios commented on #1
in the test.py script I used there was no folder though.. it was just "token.bin"

I'm using the Docker image "image: homeassistant/home-assistant" and then installing the PyVicare module via pip inside the container.

it's using Python 3.6.8 as shown above... I'll try to think of anything else that could interfere :thinking:

[2019-01-14 23:53] somm15 commented on #1
Version 0.0.13 should be better. No problems with path anymore.
But for a reason it does not refresh on Pypi

[2019-01-15 00:13] eldios commented on #1
after installing 0.0.16 it's now giving my issues with importing ViCareSession :thinking:

[2019-01-15 00:16] somm15 commented on #1
yeah, fixed in the next one (17). I broke a few stuff trying to fix. I'll work on test next time.

[2019-01-15 00:42] eldios commented on #1
okay so... it worked but:
* I had to remove any punctuation from the password
* it didn't want to work from the module so I have to recreate the token via CLI using the test.py and then copy it in place... then the homeassistant module worked :man_shrugging:

let's keep working on it in the next days. Thanks for now! :+1: :tada: we're off to a good start!

[2019-01-15 09:01] somm15 commented on #1
Version 0.0.20 should be much better.
- better logging
- can handle incorrect token serialisation files
- can handle no token_file parameter

I tested it successfully with a 32 char length password full random with special chars

[2019-01-15 13:35] eldios commented on #1
I guess it's important to say that I'm using `Home Assistant 0.85.0` :)

that said I'm now getting a different error:
[code]
For all sensors and climate components... but:
[code]
not happening with the test :thinking:

[2019-01-15 14:15] somm15 commented on #1
I just got it working with home assistant 0.85.1 without any problem.
Can you try it not in a container?
Make also sure to uninstall and reinstall PyViCare with pip3.

[2019-01-15 14:27] somm15 commented on #1
My config looks like this:
[code]
And I put the files there:
[code]

[2019-01-15 15:43] eldios commented on #1
it seems that you're also using Python 3.7 ... while the image I'm using is set on Python-3.6
Again shouldn't make any difference but who knows at this point.

Will continue testing.

0.0.20 is definitely holding better btw... I'll keep you posted with the test results :+1:

[2019-01-16 22:37] somm15 opened #5 "Split the PyViSession object"
@oischinger If you don't mind, I would split PyViCare in the following way:

The main object would be "ViCareGateway".
It creates a "VicareSession" and passes it to its members self.installation[0]=Installation(ViCareGateway,0)

.getInstallation(id=0) --> return an Installation object
.getInstallation().getWaterHeater()--> returns a WaterHeater object
.getInstallation().getBoiler() --> returns a B

[2019-01-16 22:54] somm15 commented on #5
And by the way, version 0.0.21 with your functions is now on Pypi

[2019-01-17 05:21] oischinger commented on #5
@somm15
I don't mind any breaking changes at that time ;). I guess it's a good idea to split it up.

[2019-02-07 15:58] maxmikli commented on #1
I got it up and running, but i cannot change program in home assistant.
I am using the climate script from https://github.com/oischinger/ha_vicare
sensor is up and running fine! Greets Max

2019-02-07 16:22:56 ERROR (MainThread) [homeassistant.helpers.entity] Update for sensor.vicare_programs fails
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/homeassistant/help

[2019-02-07 21:32] vandenberghev commented on #1
@maxmikli Circuit index errors should be resolved by my [latest pull request](https://github.com/somm15/PyViCare/commit/1da869463fec35321a8e437b465767457ae29c01).
However, the PyViCare PYPI package hasn't been updated yet. Once the new package is out, my changes in the ha_vicare repo can be merged. That should fix your problem.

[2019-02-08 20:06] somm15 commented on #1
I just upload PyViCare 0.0.30
It's the latest version from Git.
Let me know if everything is ok.

Sorry for the delay... family, job ... etc

[2019-02-09 15:37] vandenberghev commented on #1
Thanks!

[2019-02-10 20:19] oischinger opened #9 "setMode sometimes results in 502 Bad Gateway"
When I change mode via t.setMode('forcedReduced') I often get the following answer:
{'error': 'Bad Gateway', 'statusCode': 502, 'message': 'DEVICE_COMMUNICATION_ERROR'}

If I didn't change modes after a long time it seems like the first mode-change works but after that another call to setMode causes the 502 error.

I never have any problem like this with activateProgram.

Obviously this is not a l

[2019-03-13 05:38] drgrandios opened #10 "Failed token creation breaks PyViCare"
When `getNewToken()` fails (e.g. due to network errors), the function returns (implicitly) `None`.

This eventually leads to `self.oauth` becoming `None` - and all functions using it will fail with an Exception (because they are trying to access `post()` or `get()` on the `None` object).

I'm using PyViCare as the backend for the [ViCare Home Assistant component](https://github.com/oischinger/ha_v

[2019-03-13 20:18] #1 closed, assigned to somm15

[2019-03-13 20:29] somm15 commented on #10
Hum, that's a good one.
If there is a network error, I believe I should raise a network exception and break at PyVicare level.
The home assistant component should decide what to do (e.g. create a new PyVicare object).
I want to avoid endless loops of bad calls.
@oischinger Do you have any opinion on this?

[2019-03-13 20:30] somm15 commented on #10
@drgrandios Could you copy/paste your logs here to check which exception is raised please?

[2019-03-13 20:34] somm15 commented on #9
Did you check, I think it's related to which mode you are transitioning from.
Should I throw an error when this occur?

[2019-03-13 20:49] oischinger commented on #10
I'm not sure if the HA component can really handle that situation in a good way.

What it could probably do is check if the token is valid before every call. If it's not valid it'll try to call getNewToken() before making any further calls/until the token is valid.

Unfortunately I cannot make any changes during the next few days since I'm traveling, but I'll check it asap.

[2019-03-13 21:27] somm15 commented on #9
It was event in the comments:
DEVICE_COMMUNICATION_ERROR can just mean that the program is already on

[2019-03-14 05:03] drgrandios commented on #10
I'm not sure this will help, it just shows the `AttributeError` due to accesses on the `None` object:
![screenshot_ha](https://user-images.githubusercontent.com/28082191/54332283-c2efc480-461d-11e9-9676-88299adeaac9.png)

I guess the easiest solution would be to just throw an exception on failed token creation/renewal (should be enough to raise it at the end of `__getNewToken()` ). In my opinion t

[2019-03-22 15:33] vandenberghev opened #11 "'ViCareClimate' object has no attribute '_current_operation'"
'ViCareClimate' object has no attribute '_current_operation'

Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.6/site-packages/homeassistant/components/websocket_api/commands.py", line 122, in handle_call_service
    connection.context(msg))
  File "/srv/homeassistant/lib/python3.6/site-packages/homeassistant/core.py", line 1138, in async_call
    self._execute_service(han

[2019-03-22 15:36] vandenberghev commented on #11
Crap, I meant to create this @ oischinger/ha_vicare... Sorry!

[2019-03-22 15:36] #11 closed, assigned to nobody

[2019-04-28 14:57] oischinger commented on #9
You're right. that was exactly the case.
I wrote some code to avoid this situation.

[2019-04-28 14:57] #9 closed, assigned to nobody

[2019-05-17 21:36] sebwaks opened #12 "Strange error on Raspberry pi 3"
identical code identical PyViCare on mac works ,any help pointer would be appreciated .

pi@raspberrypi:/home/backend/probes$ python3.7
Python 3.7.2 (default, Feb 17 2019, 21:49:47)
[GCC 6.3.0 20170516] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.7/site-packa

[2019-05-17 21:50] #12 closed, assigned to nobody

[2019-05-17 21:50] sebwaks commented on #12
i=t.getInstallations() :)

[2019-07-30 21:37] #10 closed, assigned to nobody

[2019-08-17 20:03] #5 closed, assigned to somm15

[2019-08-17 20:03] somm15 commented on #5
Solved

[2019-09-29 09:55] crazyfx1 opened #14 "Improve the postman example"
The postman example uses fixed ids from the original PyViCare author which cannot be used without their username or password.

Improve the example by describing how to access the personal installationid and gatewaySerial.

[2019-09-29 15:05] crazyfx1 opened #16 "Add additional properties for heat pumps"
Add additional properties from the viessmann API for heat pumps:
- Compressor starts
- Compressor hours

Add additional property for all heating systems:
- Dhw pump status

[2019-10-02 08:00] somm15 commented on #16
Hi. Do you have the exact path for the properties ?
I don't have an heat pump so I don't see them in the API

[2019-10-02 09:27] crazyfx1 commented on #16
Yes, you can see the paths in the PR I created.

[2019-10-09 13:42] smrt28 opened #18 "Ask viessmann for the doc"
Hi,
have you ever tried to ask Viessmann tech support for the doc?

[2019-10-14 13:27] #14 closed, assigned to nobody

[2019-10-14 16:32] #16 closed, assigned to nobody

[2019-10-17 12:30] somm15 commented on #18
Actually, I didn't. That's a fair point.

[2019-10-25 08:16] somm15 commented on #18
I did request the doc a week ago. So far, no answer.

[2019-11-05 09:41] robki opened #19 "Can't get an access token"
When I try to get an access token from Postman. Everything goes fine until I get to the ViCare login screen. When submitting the correct login/password, the screen goes blank and doesn't give me an access token back.  Any solutions?

[2019-11-05 09:53] robki commented on #19
Fixed, Postman was doing weird

[2019-11-05 09:53] #19 closed, assigned to nobody

[2019-11-22 06:46] crazyfx1 commented on #18
Things are getting in motion on viessmann side. I guess you all received the viessmann survey because they realized people are fetching data from their API. Maybe we get a full documentation soon ;)

[2019-11-22 06:48] michelde commented on #18
I also got this e-mail and stated in the survey that I would like to get the full documentation. But I was also wondering as there were two questions, where they asked if I'm willing to pay for the API..

[2019-11-22 06:51] smrt28 commented on #18
I would suggest everybody who read this issue, haras viessmann and ask for the API by yourself.

[2019-11-22 06:59] smrt28 commented on #18
btw, I asked them for the API and I got a response, I should use vitogate for $600🙈 I was arguing little bit and you should do the same.

The responsive contacts are: technical-uk@viessmann.com, customer-care@viessmann.com,
vicare-service@viessmann.com

[2019-11-22 07:06] crazyfx1 commented on #18
Well I just answered "No". I already paid for the heating system and the vitoconnect so they can have all data from my heating system.

[2019-12-05 09:55] ddokupil commented on #18
Viessmann should know that community around their product would do much more profit for them than any marketing campaign in industry press.

[2019-12-05 10:38] somm15 commented on #18
I finally received my survey as well :-)
I got a mixed feeling. The mail has a positive tone but they talk a lot about paid services.
From my point of view, it's easy.
In an IOT world, you have an open API and if possible, it should be possible to access an API directly on the device without using the cloud.

Actually, we should give that feedback, make the ViCare device accessible directly, we wo

[2019-12-05 12:04] vandenberghev commented on #18
The cloud data is a treasure trove for them, I don’t believe they will ever allow/encourage official direct access to the device.

You can already access the device directy BTW, the same way the gateway does: using an IR adapter.

[2019-12-05 16:21] oischinger commented on #18
I also asked for local APIs. Asking doesn't hurt and I strongly believe that local APIs are an important step towards reliable home automation.
In the end I hope the don't monetize their APIs completely. After all it's my data.

[2019-12-06 15:05] somm15 commented on #18
I got an SMA inverter and a Zehnder system, both have local "API".
Even my vacuum cleaner can be addressed directly...

[2020-02-04 07:31] adorobis opened #21 "POST postman example"
I'm struggling with testing the APIs in Postman for the POST methods. Even for those that don't require any parameter I'm receiving response:
[code]
Any hints how to pass parameters in postman? GET methods work all ok.

[2020-02-09 14:03] oischinger opened #22 "Batching requests to the Viessmann servers"
I was wondering if it would be possible to avoid doing too many requests at the same time. Currently we have a situation that the Home Assistant integration gets a lot of data via the API which result in lots of GET requests on the API at the same time.
With today's outage of the viessmann servers this results in lots of exceptions but it's also not nice to the servers.

Could we change/extend the

[2020-02-11 21:16] ddokupil opened #23 "Is there a way to control supply temperature (directly or indirectly)?"
I wanted to try PID routines to control room temperature - in order to optimize gas consumption - they say that lower temperature is more effective...
Anyway, I'd need to be able to set supply temperature for that.
I can't directly set supply temperature, neither can I set heating curve through API.
Hypothetically, knowing curve and outside temp I could change program temperature to maybe achieve

[2020-02-12 11:25] lenny76 opened #24 "water temp error"
If I set the temperature from the app Vicare with different settings like in the photo attached,
I receive always the "normal" temp instead of the "temp2" value

![photo_2020-02-12_12-24-22](https://user-images.githubusercontent.com/3609634/74330795-9e065300-4d92-11ea-9cc2-e9bef18edf40.jpg)

I'm showing this issue in home assistant

min_temp: 10
max_temp: 60
current_temperature: 46
**temperature:

[2020-03-06 13:37] jennes commented on #18
In my case this wouldn't be beneficial: As long as I provide data to them, they provide me with a five year warranty. But exactly because I pay them already with my data, I'm absolutely not willing to pay twice.

[2020-03-06 13:42] jennes commented on #18
But as they also collect these data, one could also ask them to give the stored data to you based on the GPDR regulations. I did that already once a while ago and I think it is time to do it again, soon. :smiley:

[2020-03-16 18:44] crazyfx1 commented on #22
Seems like they limited the amount of API requests now to 1450 per day.

[code]

[2020-03-16 20:04] crazyfx1 commented on #22
I would suggest a method which executes the request and caches the JSON result. All other get methods use the cached JSON.
In home-assistant the implementation is quite easy then: On each update, execute the request first and use the methods like before. And make sure we use a scan_interval of at least 60 seconds.

[2020-03-17 11:16] adorobis opened #26 "Vissmann API restrictions"
Viessmann has introduced the restrictions on using their APIs. They have not yet published any details about those restrictions, they talk about daily and 15 minutes limits. Would it be possible to introduce a parameter to this integration to control the API calls intervals?
Some more info on viessmann forum:
https://www.viessmann-community.com/t5/Experten-fragen/Q-amp-A-Viessmann-API/qaq-p/127660

[2020-03-17 13:48] crazyfx1 commented on #26
See #22

[2020-03-17 14:06] adorobis commented on #22
So we now have some data on the limits published on the forum [LINK](https://www.viessmann-community.com/t5/Experten-fragen/Betreff-Q-amp-A-Viessmann-API/qaq-p/127732/comment-id/117660#M117660):
[code]
Any chance to update the integration to respect those limits?

[2020-03-17 15:14] #26 closed, assigned to nobody

[2020-03-17 20:24] oischinger commented on #22
I created a PR to Home assistant which sets the scan_interval of the ViCare integration to 15 minutes. It seems like we're on the safe side with that.
It should make it into HA 0.107.

But we could reduce the scan_interval quite a bit if we work on this.

[2020-03-17 22:29] silverback658 opened #27 "Getting up to speed"
Hi
I was trying to understand the interface (even if allegedly V will give us a all singing and dancing API) and in particular the structure of the requests and of the responses. I have tried with the debugger but the json is ?!???!?! and seemingly full of redundant information.
Is there some description somewhere and can you point me to it?
Any suggestions on how to get up to speed most welcome (

[2020-03-19 10:19] crazyfx1 commented on #22
The fix works for now, thanks.

Now we can discuss on how to implement the batching. Are there any plans so far @somm15 ?

[2020-03-23 22:06] somm15 commented on #22
I think this has been solved.

[2020-03-23 22:06] #22 closed, assigned to nobody

[2020-03-23 22:06] #18 closed, assigned to nobody

[2020-03-25 16:10] adorobis commented on #21
Note needed anymore :)

[2020-03-25 16:10] #21 closed, assigned to nobody

[2020-03-26 16:21] crazyfx1 commented on #23
Viessmann added the feature of setting the heating curve to the ViCare app. I would guess it's also possible to it via the API now.

[2020-03-26 21:17] adorobis commented on #23
You might want to look at this project: https://github.com/openv/openv it is connecting directly to the heater via optolink cable and publishes REST API. Maybe we could use it to integrate with HA as well?
Also I would be interested to see what you can achieve with PID, hope you'll share your results :)

[2020-03-27 07:45] michelde commented on #23
@adorobis I think this would be a new / different implementation as this project is to get the data with the Vitoconnect module. Using the project you mentioned requires a different hardware (optolink cable).  There is already a project in python to read the data using the optolink cable [PyVito](https://github.com/olivimo/pyvito) This could be used as a starting point to make a HA integration or

[2020-03-27 08:11] adorobis commented on #23
@michelde Yes, I understand that. I'm responding to question from @ddokupil who is trying to implement a PID controller for the viessmann device. Controlling it as PID via cloud service I believe does not make sense, more direct and frequent calls to the device would be required (which is problematic over the cloud API as we know). But correct me if I'm wrong. And thanks for the PyVito reference -

[2020-03-27 12:18] crazyfx1 commented on #24
I have checked the viessmann API and it seems like there is no indication which dhw mode / temperature currently is active.

[2020-03-31 06:24] justinasjaronis opened #32 "Many measurements in one request feature"
Viessmann limits rate quite heavily.  If we try to fetch many parameters often, we quickly run in threshold:

API calls rate limit has been exceeded. Please wait until your limit will renew. Limit will be reset on Tue, 31 Mar 2020 16:20:36 +0000

Do we have a moethod to retrieve many readings in single call ? I see it's possible to obtain all data in that huge features json request.

[2020-03-31 06:26] michelde commented on #32
See here: https://github.com/somm15/PyViCare/pull/28

[2020-05-14 14:49] #24 closed, assigned to nobody

[2020-05-14 14:51] #32 closed, assigned to nobody

[2020-05-14 14:51] somm15 commented on #32
Already fixed

[2020-05-14 14:57] somm15 commented on #23
@michelde PyVito looks cool. OpenV appears to be complex and mainly documented in German. If PyVito is usable, I would probably use it rather than this library. Less cloud is always better.
Did you try it?

[2020-05-14 15:01] somm15 commented on #23
By the way, did you ever notice that the port "56747/tcp" is opened on the vitoconnect?

[2020-05-18 09:25] somm15 opened #34 "Query directly the Vitoconnect device ?"
As mentioned in another issue, the port "56747/tcp" is opened on the Vitoconnect.
I don't know yet which service is running there.
I should also try MitM to check if communication could be intercepted.
The goal is to free ourself from the could and have local polling.

[2020-09-30 07:07] bzc0fq opened #37 "KeyError: 'entities'"
Hi,
I use PyViCare for a few days. I get KeyError: 'entities' errors from time to time.
Please see messages bellow:

Traceback (most recent call last):
  File "load_temperature_VITODENS.py", line 8, in <module>
    t=GazBoiler('xxxxxxx','xxxxxxx','/tmp/vicare_token.save')
  File "/root/PyViCare/PyViCareDevice.py", line 46, in __init__
    self.service = ViCareService(username, password, token_file

[2020-09-30 11:15] somm15 commented on #37
Did you set the cache duration?
By default, GazBoiler will use 0 as cache time and don't cache anything.
You could then just be rejected by the server because of high query rate.
 def __init__(self, username, password,token_file=None,circuit=0,**cacheDuration=0**):

[2020-10-09 15:15] idstein opened #40 "ViCare SmartClimate sensors"
Are you planning to support Vicare SmartClimate sensors?

As far as I can see those are available via HTTP API but also direct connection via Zigbee.

Also VitoConnect seems to be a ZigBee base.

[2020-10-12 21:17] adorobis opened #41 "Error during setup of component vicare"
Since a few hours the vicare API don't work anymore although the mobile app is still working ok (so probably no problem with number of calls). The following errors are returned:
[code]
the issue is also described in the home-assistant / core git issue suggesting some change in the API:
[ViCare Vissmann Component error #41725](https://github.com/home-assistant/core/issues/41725)
Any clues?

[2020-10-13 06:35] adorobis commented on #41
Seems that there was something broken on Viessmann's API side, it works ok again now.

[2020-10-13 14:41] membersound commented on #41
Anyways, wouldn't it be worth investigating an api upgrade to `/v2`, if obviously exists? Because vissmann might drop v1 in the future, plus there might be more features in v2?

[2020-10-13 18:34] somm15 commented on #41
Is there a v2?

[2020-10-14 12:14] adorobis commented on #41
Looks like there was some issue on Viessmann API side, resolved now.

[2020-10-14 12:14] #41 closed, assigned to nobody

[2020-10-14 14:27] #23 closed, assigned to nobody

[2020-10-14 14:28] somm15 commented on #37
Is it solved?

[2020-10-17 10:36] dr-boss opened #42 "Can't run test script"
I receive the error (if I installed by pip or by github and setup.py install). The test is simple:
`import sys
import logging
sys.path.insert(0, 'PyViCare')
from PyViCare.PyViCareDevice import Device
from PyViCare.PyViCareGazBoiler import GazBoiler
from PyViCare.PyViCareService import ViCareService
from PyViCare.PyViCare import ViCareSession

t=GazBoiler("piotr@email","pass2","token.save")
print(t

[2020-10-17 19:32] adorobis commented on #42
It still works for me ok. Just install the PyVicare using pip e.g. `pip3 install PyVicare`, below is an example of test script which you can just run as single command (I have just tested it on a fresh install of Ubuntu Server):
[code]
in my case it returns:
`['active', 'comfort', 'eco', 'external', 'holiday', 'normal', 'reduced', 'standby']`
Also the test script from readme file here works all ok

[2020-10-17 19:44] adorobis commented on #34
Hi @somm15
Any progress on that? Recent issues with cloud API are a bit annoying...

[2020-10-17 19:51] somm15 commented on #34
There were no reaction so I thought no interest.
I didn't really spend effort there so far but I should.
I don't like relying on this could system.

[2020-10-17 20:14] adorobis commented on #34
Let me know if there is a way I could help although my programming skills might not be strong enough to make any major work.

[2020-10-17 23:27] dr-boss commented on #42
thx, your test work fine, I will look my code to find error. But like in another implementation of Viessmann API set program (for comfort or eco) not work for my Vitodens :-(. I can set the temperature but I can't activate program. Only set mode is fill supported, but for programs only holiday program can be activate or deactivate by API

ps. I added non necessery line: sys.path.insert(0, 'PyViCar

[2020-10-21 06:46] adorobis opened #43 "getErrorHistory() - how does it work?"
Hello,
Is there a good explanation on how the getErrorHistory() function works? I'd like to capture the error when it happens, but I can see that sometimes they show up in "active_error" section of returned json in "new" or in "current". When reset on the heater they sometimes move to "gone" section but sometimes disappear from "active_error" completely. Anyone understands the logic?
And btw is th

[2020-10-25 11:54] hpapagaj commented on #34
Local control would be awesome.

[2020-10-27 12:51] idstein commented on #40
Nevermind. It looks like SmartClimate sensors can also be directly attached to other Zigbee networks.

[2020-10-27 12:51] #40 closed, assigned to nobody

[2020-10-28 08:48] sebekhtc commented on #37
Same here, it happens from time to time (every few days). Restarting and reinstalling the pyvicare doesn't help. I try cache duration with different values (1, 5, 10..) no change. It could be on the server side(?) One day this month they announced the maintenance work that would not affect website vitoguide but as they said it would affect the API operation.

PS. After an hour all back to normal..

[2020-11-01 09:43] sebekhtc commented on #34
I checked the h/w of the vito, it's based on Atheros AR9331 if it may help.

[2020-11-04 09:44] #37 closed, assigned to nobody

[2020-11-26 06:07] cagnulein opened #46 "Info about Vitoconnect"
Hi guys, i found you because I would like to put a Vitoconnect OT2 (opentherm) to my Viessman 111W.

It should very simple but I have a question about it. The OT2 has an opentherm thermostat too and Viessman tell me that the installation of this thermostat is mandatory with OT2.

Is it real? I don't understand why is mandatory: i mean, the Vitoconnect should act as a "remote keyboard" for my boile

[2020-11-26 07:26] adorobis commented on #46
I have looked at installation manual for OT2 and it mentions the thermostat OT1 as optional so in my opinion it is not mandatory. But to be sure I would write to Viessmann support, they are pretty responsive (at least in Poland)

[2020-11-26 07:41] cagnulein commented on #46
hi @adorobis thanks for answering me 👍
if you have a contact in poland, could you please write to them? I don't trust so much the italian assistance of Viessmann :)
I also believe that it should be an optional

[2020-11-26 08:13] adorobis commented on #46
OK, I have written to the regional support, let's see what they answer. In the mean time you can also go to the Viessmann forum - the Viessmann staff is quite responsive there. It is mostly in German but they also answer to questions in English (with help of google translate you can benefit from both).
https://www.viessmann-community.com/

[2020-11-26 08:35] cagnulein commented on #46
@adorobis https://www.viessmann-community.com/t5/Gas/Vitodens-111-W-amp-Vitoconnect-OT2/m-p/148834#M49474 done thanks :)

[2020-11-26 09:30] adorobis commented on #46
I have received answer from the service in Poland:
"The installation of a Vitotrol 100 OT1 thermostat is required for the correct functioning of the remote control. This thermostat reads the temperature in the room and sends a signal to the boiler about the information on or off the burner."
I'm not convinced though. You can try to just buy the OT2 and see if it works, if it doesn't purchase the O

[2020-11-26 09:35] cagnulein commented on #46
@adorobis i'm not convinced me neither 😄
The OT2 has in its kit the OT1 so it's not a problem.
My thought is that i can set the OT1 to high value in order to keep the 111-W always on, with the same behaviour that i have now.
But, adding the OT2, i can turn on/off and set the temperature of the hotwater and floor. What do you think?

[2020-11-26 09:39] adorobis opened #47 "Vicare Smart Climate - radiator thermostats and sensors"
As you probably know Viessmann has now on offer smart radiator thermostats and room climate (temp and humidity) sensors. They can be controlled by the Vicare app via the OPTO2 controller. Do you have any plans to implement support for those thermostats and sensors in the PyViCare component? There is not much of documentation for those new devices yet although they are on sale already.

[2020-11-26 09:42] adorobis commented on #46
Probabably you are right. I have an older system with room control Vitotroll 300 and OPTO1 Vitoconnect device. Regardless if I use the remote control via vitoconnect or not the room sensor turns entire heating off if it reaches the set temperature. So in order to have heating on in rooms which are slower to heat up I need to increase the set room temperature exactly as you propose. But having the

[2020-11-26 20:59] bzc0fq opened #48 "Unable to read .getCurrentPower()"
Hi,

Could you please help me and advice on how to properly declare a device in order to read Current Power?

What I tried was:
from PyViCare.PyViCareDevice import Device
from PyViCare.PyViCareGazBoiler import GazBoiler

t=GazBoiler('xxxxx@email.com','xxxxxx','/tmp/vicare_token.save',0,10)

t1=t.getCurrentPower()
print('T1=', t1)

And... what I get is:
'error'

I tried a few parameters with GasBoi

[2020-11-27 09:25] cagnulein commented on #46
i just bought the OT2 and OT1. I will tell you if it will work in a week or two. Thanks in advance

[2020-12-09 19:34] oischinger opened #49 "Token auto-renewal issue"
It seems there is an issue with token auto-renewal. The original report is here: https://github.com/home-assistant/core/issues/44084

After the token renewal the service tries to coll its own post method again but this seems to fail:
`Unexpected error for call_service at pos 1: 'ViCareCachedService' object has no attribute '_post'
Traceback (most recent call last):
File "/usr/local/lib/python3.8/s

[2020-12-09 19:38] somm15 commented on #49
I will have a look as well.
Could you please edit your message and remove your access token?
Not sure it's a good idea to keep that here.

[2020-12-09 19:44] somm15 commented on #49
I found the bug. On line 203 in PyViCareService.py there is : `return self._post(url,data)`
I have to add an underscore. I don't know how it happened.
I'll fix it ASAP but I have new machine so dev environment is not ready. If someone wants to fix, I'll approve PR ASAP.

[2020-12-09 19:50] #49 closed, assigned to nobody

[2020-12-12 08:37] idstein commented on #47
Those sensors are all based on zigbee and can be controlled via e.g.  ZHA or zigpy.
The integration via ViCare Cloud API requires additional HTTP requests that are accounted to the total service call limit per day.

[2020-12-12 11:25] cagnulein opened #51 "missing info on homeassistant"
First of all, thanks for your incredible work!
I just installed a vitoconnect OT2 on my Viessman 111W and it seems to work fine. Anyway i saw that there are a lot of missing values on entities on homeassistant.
I set the heating_type as "gas"
If you need other info, please feel free to ask.
Thanks

![image](https://user-images.githubusercontent.com/48216/101982515-cb52b480-3c74-11eb-84d2-e044d25db

[2020-12-13 16:58] cagnulein commented on #51
i try also the python library standalone and it gives me errors too

<pre>>>> print(t.getDomesticHotWaterStorageTemperature())
47

error

23.15

error

error

error

error

error

manual

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/cagnulein/PyViCare/PyViCare/PyViCareDevice.py", line 192, in getPrograms
    return self.service.getProperty("heating.circuit

[2020-12-13 17:05] cagnulein commented on #51
another info:

<pre> print(t.service.getProperty('heating.gas.consumption.dhw'))
{'statusCode': 404, 'error': 'Not Found', 'message': 'FEATURE_NOT_FOUND'}
</pre>

do i have to do something to enable this?

[2020-12-13 19:08] oischinger commented on #49
I've made the fix you proposed in my Home Assistant integration. I'll let you know how it holds up.

[2020-12-14 10:31] u450192 commented on #49
@oischinger : Can I help with testing ? As I experience the problem on a daily basis :-)

[2020-12-17 21:22] somm15 commented on #51
Hello.
The getPrograms error is interesting. I suspect that you don't have programs configured. But we should better handle that issue.
For the second, it is just no supported by your installation. Do you have hot water feature (for shower, bath)?
Maintaining this library is not super easy as I have only one viessmann model at home.
Other people contributed with the caracteristics of their install

[2020-12-17 21:24] somm15 commented on #48
Did you try other funtions that getCurrentPower?
For instance, it does not work at my place. I have an error as well just because my boiler does not support it.

[2020-12-17 21:27] somm15 commented on #47
I personnaly have not plan to work on this. I have only one boiler at home. I actually started this library because I was very frustrated by how closed Viessmann is. Not 0-10V command, no opentherm, no API ...
So for thermostat and room climate, I use 1-wire thermometer and 0-10v valve actuators.
I would say indeed that home assistant and zigbee is probably the best solution.

[2020-12-17 21:28] #42 closed, assigned to nobody

[2020-12-17 21:28] #27 closed, assigned to nobody

[2020-12-18 07:58] adorobis commented on #47
Many thanks for your update!

[2020-12-18 07:58] #47 closed, assigned to nobody

[2020-12-18 08:01] cagnulein commented on #51
thanks @somm15
Yes i have hot water feature.
This is my postman output

<pre>
{
    "links": [
        {
            "rel": [
                "self"
            ],
            "href": "https://api.viessmann-platform.io/operational-data/v1/installations/XXXX/gateways/XXXXXXXXXXXXXXXX/devices/0/features"
        },
        {
            "rel": [
                "https://wiki.viessmann.com/display/VP

[2020-12-19 08:18] oischinger commented on #49
@u450192 how does your home assistant installation look like?
To test it you have to modify the pyvicare library in home assistant core.
It's not straight forward but i can give you instructions if you want

[2020-12-19 10:18] u450192 commented on #49
@oischinger ... Thx 4 your reply. I am running ha on a raspberry and can reach all files for upload. So if it is a file replace I can manage 😁 kr Patrick

[2020-12-19 11:12] oischinger commented on #49
I use Home Assistant OS (Hass.io), here's what I did:
find PyVicareService.py somewhere on the disk:
`find / -iname '*PyViCareService.py*'`

In my case it was in /usr/local/lib/python3.8/site-packages/PyViCare/PyViCareService.py
Go to line 203 and change
`return self._post(url,data)`
to
`return self.__post(url,data)`

I did not see the issue that you reported anymore when the token was refreshed,

[2020-12-19 12:05] u450192 commented on #49
@oischinger thx, I will do a search and replace. Experience in cobol, assembler, apl, rpg, abap, sql ... But not yet in python 😁 kr

[2020-12-19 12:47] cagnulein commented on #51
@somm15 do you have a way to offer you a coffee or a beer? i would like to thank you for your great work!

[2020-12-19 16:08] u450192 commented on #49
@oischinger installed SSH on my ha. But the file cannot be found. Are the files in a precompiled state on my instance? I will wait till the patch is released ,😉

[2020-12-19 18:03] oischinger commented on #49
It seems you are running Home assistant OS. Now it becomes hard because you need to ssh to the right container. you can run the following commands then:
ssh root@IP_ADRESS -p 22222
login
docker exec -it homeassistant /bin/bash

Now you can search for the file since you are in the HA container

[2020-12-19 18:24] u450192 commented on #49
@oischinger thx ..
 Indeed, but now the connection on 22222 is refused. Seems an authorized keys needs to be created ..
 I will have a look at it when I have more time ... Anyway many thx 4 your support

[2020-12-19 18:47] oischinger commented on #49
Yes you need to prepare your home assistant installation to open the port 22222 for that.
I'm sure that your issue is resolved with the fix, so no need for further tests I guess

[2020-12-19 18:58] u450192 commented on #49
Great thx 4 your support ... I will surely enjoy the integration. Helps my sick wife to start the heating with voice over google towards tado ... Ha ... Pyvicare ... Viessmann 😁😁😁👍

[2020-12-19 19:30] somm15 commented on #51
Thanks but I just started the project. Other people did much more lately.
I'll check a little bit your json output but... later :-)
I'll try to publish the new pip package today.

[2020-12-19 20:21] somm15 opened #52 "Change error in case of value not found"
@crazyfx1 and @oischinger
As far as I know, you are the 2 main users and contributors.

I change the error returned in PyVicareDevice from just "error" to
except KeyError as err:
        	return "KeyError: "+str(err)

1) Is it a problem for the ha integration?

So it's already a little bit better. However, it's still far from clean. Error or not both return a string.
I would prefer to raise a cust

[2020-12-20 09:32] crazyfx1 commented on #52
Yes this would indeed be an issue. The HA component checks if the return value is "error" and reacts accordingly.

I think it would be better to create and throw a custom exception (like PyViCareException) with the error text. Then the HA component needs to adapt and catch the exception.

[2020-12-20 20:19] oischinger commented on #52
I agree.
Actually custom exceptions is also what HA code style recommends for error handling.

[2020-12-23 14:42] somm15 commented on #34
https://reverseengineering.stackexchange.com/questions/23222/extract-repack-eeprom-dump
Some already tried at least.

[2021-01-03 22:46] woehrl01 opened #59 "Add additional tests and sample responses"
As we now have unit tests (see #55), it would be awesome to collect additional responses for the individual devices, to ensure correct behavior.

* [x] Gaz (thx @cagnulein)
* [x] FuelCell (@nbraem ?)
* [x] OilBoiler (@o00batman00o ?)
* [x] HeatPump (@crazyfx1 ?)

Please ensure to scramble your DeviceId, GatewaySerial and InstallationId.

Adding the file to the `test` directory in the format `respo

[2021-01-06 22:36] u450192 commented on #49
@oischinger @somm15 Any idea when this will be included in ha release schedule? Thx4your info

[2021-01-14 20:49] oischinger commented on #49
@somm15  when can you upload a new release? It would be great to fix this issue in HA

[2021-01-15 20:14] somm15 commented on #49
Sorry, crazy week at work.
I'll make a new pip release tomorrow evening.

[2021-01-16 18:00] nbraem opened #67 "push a new version to pypi"
I would like to use the added PyViCareFuelCell in the vicare integration for Home Assistant, but the current version 0.2.4 does not include it yet. Would it be possible to push a new version to pypi?

[2021-01-17 21:26] somm15 commented on #67
It is finally done.
Not yet with the workflow, but done.
Sorry for the delay.

[2021-01-18 19:23] oischinger commented on #67
Thanks alot. Home Assistant PR is on the way: https://github.com/home-assistant/core/pull/45301

[2021-01-19 07:44] adorobis commented on #67
Great! Does it also include the vicare_mode service?

[2021-01-19 08:58] oischinger commented on #67
This one is already merged

[2021-01-19 10:39] adorobis commented on #67
Thanks! I have missed that so now I can remove the custom component :)

[2021-01-19 10:47] adorobis commented on #67
Hmm, I've removed the custom component but the vicare_mode service is not there. I have the latest updates for HA. Should I configure anything more to enable this service? I can see that vicare components do have the required functions in the climate.py module.

[2021-01-19 10:51] oischinger commented on #67
It's merged but the new HA version is not yet released. Sorry for the confusion

[2021-01-23 19:58] woehrl01 commented on #67
@somm15 I'm currently extending HA and would like to use the newly added method `getDomesticHotWaterChargingActive` (PR #70). Would be awesome if you could release version 0.2.6 with that included. Thanks!

[2021-01-30 17:42] sweh opened #72 "Access data of solar module SM1"
Hi,

I have a solar module "SM1" attached to my Viessmann Gaz boiler. Is it possible to query the status of that module with this library?

I'd like to know, if it's active (heating the water with the solar panels) and what the temperature of the solar panels on the roof is like.

Chers,
  Sebastian

[2021-02-03 09:17] ddokupil opened #73 "dhw vs heating circuits"
A few thing or maybe hacks I would need:
- can I enable or disable dhw pump off the schedule / on demand?
- I can disable both circuits by setting it to standby but that also cuts off dhw heating. How can I set them to dhw only mode?
BTW, despite of what is in a comment standby mode works, at least in my case.

[2021-02-18 16:59] TheJulianJES opened #74 "Switch to Viessmann (authorization) V2 API"
It looks like Viessmann has opened their Developer Portal and has released a new API (at least for authorization):

Original post: https://community.home-assistant.io/t/viessmann-component/77873/343

(Perhaps by condensing some of the API requests, multiple circuit support in Home Assistant could be done easier: https://community.home-assistant.io/t/viessmann-multiple-circuits/153223)

[2021-02-18 20:09] ddokupil commented on #37
What does cache duration exactly do? Does it save values somewhere and will just read from it until cacheDuration expires?
Strange this is when I get KeyError: 'entities' I can still use ViCare app.

[2021-02-18 20:54] crazyfx1 commented on #74
Maybe thats the point we take the take time to refactor the whole service like @somm15  suggested in other issues.

[2021-03-17 09:48] jackie-t opened #76 "F-strings require python 3.6"
As stated in the title, f-strings require python 3.6, thus no longer supporting installations with python 3.4.
So, after pip3 install -upgrade, you go from 0.2.4 to 0.2.5 and your installation is hosed.

`Traceback (most recent call last):
  File "./viessmann_status.py", line 3, in <module>
    from PyViCare.PyViCareDevice import Device
  File "/usr/local/lib/python3.4/dist-packages/PyViCare/PyViC

[2021-04-08 14:25] ge0van commented on #46
@cagnulein:
Hello. So, was the OT1 installation mandatory or not? I want to do the same with my boiler.

[2021-04-08 14:27] cagnulein commented on #46
Yes it is

Roberto Viola
Software engineer and open source enthusiast
http://robertoviola.cloud

Il giorno gio 8 apr 2021 alle ore 16:26 ge0van ***@***.***>
ha scritto:

[2021-04-08 14:29] ge0van commented on #46
Ok. Thanks!

[2021-04-16 11:38] AnduriI opened #79 "Possibility to read/set dhw circulation"
Hey everyone,

is the above mentioned function working? I have setup PyViCare a few months ago, but this parameter shows 'True' all the time. My circulation is configured to be active only 5am-10pm.
By the way, is there also a way to influence the circulationpump? I would like to activate it only if someone is at home (respectively deactivate when no one is in the house).
I use a Viessmann heatpum

[2021-04-16 12:16] oischinger commented on #79
Hi, for me it is working because it goes to off when in dhw mode for some minutes. during night it doesn't go to off for me because I when it's off in the schedule it the heater is in reduced mode and not off

[2021-04-22 08:18] AnduriI commented on #79
For me checking the status of the circulation pump always returns True (with `print(t.getCirculationPumpActive())`)
. Only when I set my dht to off it reports back false.
Is it intended to be true while the circulation is enabled (5/10 or 5/25 setting in the vitotronic) or only when it is running, so only the 5min and not the 25 when idling (or 10, depending on setting)?

[2021-05-09 09:58] julred opened #81 "Raspberry Pi 4 8GB ModuleNotFoundError: No module named 'PyViCare.PyViCareDevice'"
Dear all,

I'm having problems to run PyViCare script on my Raspberry Pi 4 8GB (64-Bit OS):

[code]

I tried to use the basic test command (of course, I changed it to my credentials):
[code]

This was the response:
[code]

The script is working also on a Windows 10 64 Bit machine.
What might be the problem?

// Edit;
Just double checked via `pip show pyvicare` the installed module version.
On Wind

[2021-05-10 20:18] julred commented on #81
I installed V0.2.5 via .whl file.

[code]

But still the same error log as mentioned above:
[code]

[2021-05-20 12:48] Ocrimops commented on #72
Waiting for this as well :)

During summer I heat my pool with the Viessmann installation. I would love to have my pool pump turn on more often when the solar collector harvests the "free heat". That would save lots of money for me!

[2021-05-23 15:25] julred commented on #81
Any ideas?

[2021-05-24 15:39] BrechtMo commented on #72
I was also looking for this, especially because this library is used by the vicare integration in Home Assistant.

You could add it easily by adding to the GazBoiler class.

[code]

Another feature I'd like to suggest is the supply pressure (pressure in the heating circuit). This would allow you to set up an alert when the pressure gets too low.
`service.getProperty("heating.sensors.pressure.suppl

[2021-05-29 07:41] crazyfx1 commented on #79
I think the confusion comes from the translation to english.
The circulation pump here is the internal pump which delivers the water to the radiators or underfloor heating pipes (="Umwälzpumpe").
The "circulation" you mean (which cycles water in the warm water system) is not implemented. Someone would need to provide a ViCare result which includes the data, since I don't have that circulation inst

[2021-05-31 18:49] oischinger commented on #79
I have circulation installed but it's not controlled by the Viessmann heater (instead the circulation pump has it's own sensor going to the hot water storage which triggers pump turn on/off). Actually I am not sure if the Viessmann device has the capability to control a circulation pump of that kind.

[2021-06-01 06:04] crazyfx1 commented on #79
The Vitotronic 200 can control warm water circulation pumps.

[2021-06-01 07:31] AnduriI commented on #79
I have a Vitotronic 200 and it is controlling both, the heating of my water storage and the circulation in my piping controlled by it.The mandatory circulation pump for radiators/underfloor heating is of course also there, but I thought that it is running all the time when heating mode is enabled. Otherwise the Vitotronic wouldn't be able to detect when additional heat is needed.
I thought for the

[2021-06-08 19:40] SchwarzJJ commented on #81
I have a similar problem with python3 on raspi4:
[code]
[code]
[code]

Any ideas?

[2021-06-15 19:45] williwacker opened #84 "Retrieval of each property as an individual request is forcing an rate limit exception"
I have made an adoption to your version that does only a single request and retrieves all available properties. From this you can then extract the individual values. For debugging purposes you can cache the data into a file and always read from this file as long as it exists.

[2021-06-16 18:33] crazyfx1 commented on #84
This is already implemented.
If you pass the cacheDuration in the constructor of your PyViCareDevice, the internal service is changed to a cached service. This service will cache the result for the duration. I recommend 60 seconds, which is exactly the Viessmann limit.

[2021-06-17 13:20] BrechtMo opened #86 "important API authentication changes as of 15th of July"
I'm not sure this will impact the PyViCare libarary but I'm afraid so.

---

Dear Developer,

An evaluation has shown that you have used the web interface (API) to Viessmann IoT Services to access data from the Viessmann backend through a 3rd party application. We wanted to let you know that we now have a Developer Portal you can use for this purpose.

The Developer Portal offers great benefits fo

[2021-06-17 13:21] cagnulein commented on #86
yeah i was thinking the same while i was reading the email :(

[2021-06-17 13:23] BrechtMo commented on #86
some good news: I was missing some features (solar boiler temperatures) on the new api but they seem to have been added.

[2021-06-17 15:23] somm15 opened #87 "Project maintenance and collaborators"
Hello Guys,

I don't really have enough time to maintain the project as it should be. In addition, I barely use it as I installed controlled valve actuator (much better, no cloud).
@oischinger @woehrl01 @crazyfx1 Who do I add as contributor?
(and for Pypi as well)

Regards,

Simon

[2021-06-17 15:24] jackie-t commented on #86
I'm pretty certain this does impact PyViCare, and actions are needed, otherwise it'll cease to function in one month.

At least the API is well documented, the sample cURL calls work fine, and I'm able to access the API using nothing but the command line and cURL.

[2021-06-17 15:50] crazyfx1 commented on #87
I would do it if one of the other gentlemen joins aswell. There are big changes coming to this library.

[2021-06-17 16:19] oischinger commented on #87
I would love to spend more time on this but thanks to Corona impacts on family and job I just find no free time to do anything really productive.

Adding me as contributor would not really change the situation I'm afraid.

[2021-06-17 17:04] woehrl01 commented on #87
Hi @somm15

thanks for asking to join as a contributor. Aktually I would be interested in doing so. Especially focusing on automating the release of new version would be a blast.

Let's take this responsibility together @crazyfx1

[2021-06-17 18:56] crazyfx1 commented on #86
I tried the API aswell and it works. But unfortunately there are many properties missing for heatpumps. For example heating rod data and statistics (starts, hours, the V1 even added the power consumption in the end).

[2021-06-18 11:18] mawiak commented on #86
Would pyvicare get a update?

[2021-06-18 12:29] crazyfx1 commented on #86
Yes, we need to update PyViCare to work with the new API. But every user will need to register in the developer portal to get a (free) API key.

[2021-06-19 16:54] crazyfx1 commented on #86
The update is in #88 . As soon as the code is merged we need users to test their heating systems and report back for missing properties. Ideally those users should send an email to the viessmann developer support and ask them to add the missing properties.

[2021-06-20 20:49] hnykda commented on #87
I'm so grateful you are communicating your availability so clearly! @somm15

And I'm even more grateful to you @woehrl01 and @crazyfx1 for taking over! My gas boiler is happy!

[2021-06-29 15:30] crazyfx1 commented on #87
Hi @somm15 .
Can we get the permissions soon? Time is running out till the July, 15th :(

[2021-07-09 10:31] somm15 commented on #87
Sorry, done

[2021-07-09 15:15] #84 closed, assigned to nobody

[2021-07-10 01:27] prior-philip opened #93 "Errors on all device features"
Hey Team,
I see that great piece of software migrating to API V2.
Following the instructions using users personal token seems to work. At least I see a token generated, so I assume the authentication happens.
Although, any feature I request its status responds value "error" - even the most generic ones.
Unfortunately no error message appears or any other valuable information.

Anything I can do to

[2021-07-10 05:24] #46 closed, assigned to nobody

[2021-07-10 05:37] woehrl01 opened #94 "New pkce dependency breaks 3.4 compatibility"
The newly added dependency pkce breaks the compatibility with python 3.4. (see failing tests)

As python 3.4 is already EOL we need to decide if we totally remove the compatibility for that python version.

We need to bump the major version of the library in that case. As switching to v2 and the new requirement for a own client secret this can be a good opportunity.

See also #76

[2021-07-10 10:51] crazyfx1 commented on #93
Thanks for testing out the V2 API.
Unfortunately the new API is only providing very basic info. Detailed info like statistics or usage are currently not available.

Which type of heating system do you have?

[2021-07-10 14:26] BrechtMo commented on #93
I'm experiencing the same. But my tests might be doing something wrong.

[code]

however querying the value does work
[code]

[2021-07-10 14:31] BrechtMo commented on #93
I think properties is now a member of "data" where properties used to be in the root of the return value.

So we need to do
`["data"]["properties"]["value"]["value"]`
instead of the old
`["properties"]["value"]["value"]`

[2021-07-10 14:45] crazyfx1 commented on #93
That should already work. You need to pass "useV2=True" to your device as described in the readme.

[2021-07-10 15:03] BrechtMo commented on #93
I was doing that. I'm testing with Master.

[code]

[2021-07-10 15:08] crazyfx1 commented on #93
Ok yes, the uncached service is broken. Please use the cached version by passing cacheDuration=60 to your device.

[2021-07-10 15:45] prior-philip commented on #93
It seems this discussion brings up some unexpected behavior.
In order to reply to crazyfx1:
Tested with a Vitocal200S Heatpump - and I changed the test script accordingly.

For some reasons Im getting KeyError messages.
`ubuntu@colonia:~/Smarthome/Viessmann_API$ ./test_ViCareHeatPump.py
Traceback (most recent call last):
  File "/home/ubuntu/Smarthome/Viessmann_API/./test_ViCareHeatPump.py", line

[2021-07-10 15:47] prior-philip commented on #93
Okay, changed to cached service but behavior is same:
`
ubuntu@colonia:~/Smarthome/Viessmann_API$ ./test_ViCareHeatPump.py
Traceback (most recent call last):
  File "/home/ubuntu/Smarthome/Viessmann_API/./test_ViCareHeatPump.py", line 12, in <module>
    t=HeatPump("myusername@myprovide.com","mypasswd","token.save", client_id=client_id, cacheDuration=60, useV2=True)
  File "/home/ubuntu/.local/lib

[2021-07-10 16:13] crazyfx1 commented on #93
Please try to delete the token-file "token.save" in your directory and try again.

[2021-07-10 19:02] prior-philip commented on #93
Yepp.... That was the trick! (y)

Nevertheless.
All features still reply error. Thru Postman its okay.

[2021-07-12 06:52] BrechtMo commented on #93
I don't see in the code how the cacheDuration and useV2 parameters change how the functions extract the values from the api return values for the features.

The old
["properties"]["value"]["value"]
doesn't work anymore.

**["data"]**["properties"]["value"]["value"]
does work.

As far as I can see this is causing all features to return `error`.

[2021-07-12 08:15] crazyfx1 commented on #93
The implementation of the service is changed when passing those parameters.
https://github.com/somm15/PyViCare/blob/2bc0fd5a9f3d0ed732257547d7eb41b346f27341/PyViCare/PyViCareDevice.py#L66

If both are set, the ViCareCachedServiceV2 is used. This service implements getProperty by using the "data" property of the result.

https://github.com/somm15/PyViCare/blob/2bc0fd5a9f3d0ed732257547d7eb41b346f273

[2021-07-12 08:52] prior-philip commented on #93
Yepp. Thats now working for me....
Thanks man.

[2021-07-12 19:40] crazyfx1 commented on #93
The uncached service should work aswell now. But I don't recommend it since you only have 1450 requests per day ;)

[2021-07-12 19:40] #93 closed, assigned to nobody

[2021-07-13 10:59] prior-philip opened #97 "Devices features"
Team,
this is not an Issue. Its more kind of request for clarification: Maybe worth to add it to Project Wiki.

A) Are all available features of each DeviceType (eg HeatPump) already configured in PyViCareHeatPump.py and PyViCareDevice.py?

B) What is the proposed and most suitable way to add features manually if (A) is answered to no? Do you want users to manipulate one of above scripts?

[2021-07-13 14:13] crazyfx1 commented on #97
Basically the current implementation of the devices is reverse engineered by looking at the API response and figuring out what properties are useful. Unfortunately this will stop working in 2 days, when the V1 API will stop working.

For the V2 API, you can see all available properties in the Viessmann Developer Portal. If you compare the list you will see, that around half the properties are not

[2021-07-13 14:24] prior-philip commented on #97
Sure Im happy to help out with VitoCal200S HeatPump. How can I contribute?
- nevertheless Im not used to work with Github and you do not want me to add code. Surely not! ;)

[2021-07-13 18:52] galaxis1309 commented on #81
Hi,
same issue, is there a step-by-step install guide available ? Perhaps i'm doing things wrong using pip "install pyvicare" resulting in v0.2.5 via pip show ??

[2021-07-14 06:19] julred commented on #97
I can also perform some test. I own a Viessmann Vitodens 200 + Vitocell 100 with solar panels.
Please let me know if the software is ready to test

[2021-07-14 07:00] somm15 commented on #87
@woehrl01 and @crazyfx1, can I please get your pip usernames?

[2021-07-14 07:18] crazyfx1 commented on #87
I've just registered, it's also crazyfx1, thanks!

[2021-07-14 07:27] AnduriI commented on #86
Is there already an update been pushed to PyPi? I installed PyViCare via pip and (obviously) need to use the new V2API...
Is there another way to update this manually?

[2021-07-14 07:30] woehrl01 commented on #87
It's woehrl01 for me too. Thanks @somm15

[2021-07-14 07:38] somm15 commented on #87
Done. Please make sure to enable 2FA on your account and use the test pypi before making packages for live.

[2021-07-14 14:16] woehrl01 commented on #87
Thanks @somm15 . Can you please assign me the "Maintain" role for the GitHub repo, so that I can configure the required secrets for GitHub Actions?

[2021-07-14 19:59] #94 closed, assigned to nobody

[2021-07-15 07:10] #74 closed, assigned to nobody

[2021-07-15 19:04] BrechtMo commented on #86
the old API access seems to have stopped around 15:30 today.
It will indeed be necessary for the new PyViCare to be available in official package indexes so that environments like Home Assistant will use the new libraries.

In the meantime you can build and install the latest build from github using
[code]
I'm no python expert at all so all input is appreciated.

[2021-07-15 20:49] immek opened #106 "Outlet temperature"
Hello,
I've just noticed that we are missing the dhw outlet temperature.
It would be something like:
`return self.service.getProperty("heating.dhw.sensors.temperature.outlet")["properties"]["value"]["value"]`

PS. Thank you for your great work!

[2021-07-16 06:25] crazyfx1 commented on #43
Error history is not available anymore in V2.

[2021-07-16 06:25] #43 closed, assigned to nobody

[2021-07-16 06:25] crazyfx1 commented on #48
Power is not available anymore in V2.

[2021-07-16 06:25] #48 closed, assigned to nobody

[2021-07-16 06:26] #51 closed, assigned to nobody

[2021-07-16 13:05] Zixim opened #107 "get API from Viessmann, what is "Redirect URIs" ?"
On the Viessmann Dev Portal, when creating a new OAuth client, what do we need to enter in the field "Redirect URIs" ?

[2021-07-16 14:05] #107 closed, assigned to nobody

[2021-07-16 14:06] Zixim commented on #107
my bad : didn't fully read the readme.md

[2021-07-16 15:42] crazyfx1 opened #108 "Publish PyPi"
Hi @woehrl01

Is there anything missing now for pushing to PyPi? I would like to release the current version as 1.0.0.

Thanks

[2021-07-16 16:53] woehrl01 commented on #108
Not from my side. Feel free to publish.
 I'm just missing access to provide the required secret, so er can publish via a GitHub release (and GitHub Action). But I don't mind for the current situation.

[2021-07-16 18:01] crazyfx1 commented on #108
I have actually never published something to PyPi. Would you mind doing that? :)

[2021-07-16 18:51] woehrl01 commented on #108
Sure, no worries. I just published 1.0.0

[2021-07-16 18:51] #108 closed, assigned to nobody

[2021-07-16 18:52] #67 closed, assigned to nobody

[2021-07-16 18:53] #52 closed, assigned to nobody

[2021-07-16 18:56] woehrl01 commented on #76
Close as we now require python 3.6 due to other dependencies

[2021-07-16 18:56] #76 closed, assigned to nobody

[2021-07-16 18:57] woehrl01 commented on #81
Hi, I just published 1.0.0 to PyPi. Please validate if it's working for you

[2021-07-16 18:57] #81 closed, assigned to nobody

[2021-07-19 06:32] kruemel746 opened #110 "Move OneTime charge capabilities to GenericDevice"
In order to trigger the hot water heating, the function "getHotWater" was available in the old API. Currently this does not seem to work. In the Viessmann App the feature works properly.
With my gas heater I get the errror:
AttributeError: 'GazBoiler' object has no attribute 'getHotWater'

Thanks a lot for your fantastic work!

[2021-07-20 08:43] adorobis commented on #110
Which Viessmann heater are you using?

[2021-07-20 08:46] kruemel746 commented on #110
I´m using a Vitodens-333-F connected via Vitoconnect 100.

[2021-07-20 09:54] adorobis commented on #110
@kruemel746 We don't have data for your system. Would you be able to [test the API](https://github.com/somm15/PyViCare#api-usage-in-postman) for your system with Postman? If yes you should execute this API:
`https://api.viessmann.com/iot/v1/equipment/installations/<your_installation_id>/gateways/<your_gateway_id>/devices/0/features` and submit the output json in new pull request here.
And regardin

[2021-07-21 07:13] kruemel746 commented on #110
Yes, its the onetimecharge! I will try to send you the output.

[2021-07-21 11:19] AnduriI commented on #79
With the changes to the new api I had a look at this again. I found that the response for a Vitocall 200 includes that datapoint stated in the api docs "heating.circuits.N.dhw.pumps.circulation.schedule"

https://github.com/somm15/PyViCare/blob/16269aa2959a39414e9468fd8a7038edc4e4a707/tests/response_Vitocal200.json#L1284

and

https://github.com/somm15/PyViCare/blob/16269aa2959a39414e9468fd8a7038e

[2021-07-21 11:28] adorobis commented on #79
I have also doubts to what those sensors are actually showing. When you look at what I have for my system (obviously during summer only DHW mode is used):
![image](https://user-images.githubusercontent.com/19752098/126481854-97d8703b-48ff-4a94-b731-0f1df1fe5c65.png)
So looks like pumps and chargingactive are fully aligned with burner on. Is it exactly this way in reality I don't know, would need t

[2021-07-21 11:50] AnduriI commented on #79
Well I think the internal circulation pump is intended to work that way: when you add heat to the system (by turning on burner/heatpump/...) it should activate to spread the heat in underfloorheating/...
Maybe I should change the title to account for dhw.circulation, because that's what I want to view/set.

[2021-07-21 12:51] adorobis commented on #79
OK, got it. This feature is not implemented yet, testing it now in my system.

[2021-07-21 13:01] adorobis commented on #79
Looks that it works for me, I've created a PR https://github.com/somm15/PyViCare/pull/114 with this change

[2021-07-21 14:40] adorobis commented on #79
@AnduriI The status of dhw circulation pump is implemented now. There is no possibility to control it (turn on/off) in the API so I would close this issue now.

[2021-07-21 14:57] AnduriI commented on #79
Thank you very much for this feature. That is great.
I see that there is no simply way to switch on/off, but couldn't we parse a json string to dhw.pumps.circulation.schedule to either run all day or deactivate it the complete day?

[2021-07-21 15:13] adorobis commented on #79
It would be a kind of bodge / workaround. Wouldn't it be better to switch the heater to standby or forcedReduced modes? Both would result in turning the dhw circulation pump off.

[2021-07-21 15:46] AnduriI commented on #79
I fully agree with you. That would not be a full feature but more of a hack. I don't now about the modes you mentioned, are they documented somewhere?
As far as I can see in the docs and the response there is no good option for switching the dhw circulation on/off. Therefor thank you very much again for implementing the status feature.
If those modes will not work I will still try to 'hack' that f

[2021-07-21 16:08] adorobis commented on #79
Vitocall 200 supports the following modes, looking at the features response:
https://github.com/somm15/PyViCare/blob/16269aa2959a39414e9468fd8a7038edc4e4a707/tests/response_Vitocal200.json#L294

[code]
Look at this, you'll be able to get possible modes and set them using getModes() and setMode()
https://github.com/somm15/PyViCare/blob/25a012bc926083dd719cf99b10b3a47ad20ea184/PyViCare/PyViCareDevic

[2021-07-21 19:47] AnduriI commented on #79
The getModes does not list all of them, but only standby, dhw and dhwAndHeatingCooling. None of them leaves me with heating and dhw working but dhw circulation deactivated.
getProgram gives a list a little longer, but I don't know the meaning of all of them: ['active', 'comfort', 'eco', 'fixed', 'normal', 'reduced', 'standby']
I know about normal and reduced, as they are used by schedule. I think

[2021-07-22 15:49] prior-philip commented on #110
I added that to my PyViCareHeatPump.py manually and it works fine but I suspect its same for Gaz heaters and others...

    @handleNotSupported
    def deactivateOneTimeCharge(self):
        return self.service.setProperty("heating.dhw.oneTimeCharge","deactivate","{}")

    @handleNotSupported
    def activateOneTimeCharge(self):
        return self.service.setProperty("heating.dhw.oneTimeCharge",

[2021-07-22 15:54] adorobis commented on #110
From what I can see it is available in Vitodens 300W and 333W but not in 200W and 222W. So in general should be available for gas heaters and heatpumps but depends on specific model.

[2021-07-22 18:53] oischinger opened #115 "Investigate HA OAuth2 facilities"
Home Assistant has built-in support for integrations that offer account linking using the OAuth2 authorization framework. To be able to leverage this, you will need to structure your Python API library in a way that allows Home Assistant to be responsible for refreshing tokens.

https://developers.home-assistant.io/docs/config_entries_config_flow_handler/#configuration-via-oauth2

To be honest I h

[2021-07-22 18:57] oischinger opened #116 "Discord channel"
I noticed there's a discord channel: https://discord.gg/GMjBT7K5
The link has however expired somehow

[2021-07-22 19:33] woehrl01 commented on #115
This shouldn't be such a big issue, we just need to extract/refactor the authentication. See: https://developers.home-assistant.io/docs/api_lib_auth

I can get my hands dirty over the weekend.

[2021-07-22 19:39] crazyfx1 commented on #116
Sorry, didn't know that they expire. I've created a non-expireable link ;)

[2021-07-22 19:39] #116 closed, assigned to nobody

[2021-07-22 19:50] woehrl01 commented on #116
Confirm 🌟

[2021-07-22 22:25] kruemel746 commented on #110
Thanks a lot! I added it manually to PyViCareGazBoiler.py and it also works well for my gas heater!

[2021-07-26 07:51] BrechtMo commented on #72
It seems like an additional solar feature has been added recently: status of solar circuit pump (on/off)
`heating.solar.pumps.circuit`

[2021-07-26 07:56] woehrl01 commented on #72
Thanks, @BrechtMo and @sweh . That should be definitely possible. So that we can add it properly, we need your help, as we don't own a SM1 ourselves.

Please add an example response of the SM1 as a PR (remove the Serial and Installation Id from the JSON).

To generate a device response, you can use [Postman](https://www.postman.com/). You can find a description in the readme.

[2021-07-26 08:05] sweh commented on #72
Hi @woehrl01,

the PR #98 already contains the response from my SM1 in the tests. In my opinion this ticket can be closed.

[2021-07-26 08:07] woehrl01 commented on #72
🙈  Thanks, looks like I missed that PR 😄

[2021-07-26 08:07] #72 closed, assigned to nobody

[2021-07-26 10:54] woehrl01 commented on #110
@kruemel746 I added the feature via PR #62 a while ago with `getOneTimeCharge`, `activateOneTimeCharge` and `deactivateOneTimeCharge`. I'm curious that you were unable to find it on your implementation. Which version did you use?

[2021-07-26 10:56] woehrl01 commented on #86
As the version 1.x with the new auth flow has been published and the HA integration has been merged. I'll close the issue.

[2021-07-26 10:56] #86 closed, assigned to nobody

[2021-07-26 11:20] prior-philip commented on #110
BTW: Why is that statement part of PyViCareGazBoiler.py? As above commands are pretty generic I would them expect to be with PyViCareDevice.py. Heatpump uses them as well..

[2021-07-26 11:28] woehrl01 commented on #110
@prior-philip I added it only to GazBoiler as I simply just have that device 😄, and thus the only response back then for testing. Moving that feature to Device, is a good idea.

[2021-07-26 11:51] prior-philip commented on #110
Great, thanks. One more question...
What needs to happen to get PyViCare officially upreved in order to make recent changes available with pip3 ?

[2021-07-26 11:57] woehrl01 commented on #110
@prior-philip Which problem are you facing with pip3? To keep things sorted, please open another issue for that topic, thanks.

[2021-07-26 12:07] kruemel746 commented on #110
Am an absolute Python beginner. Didn't find it in the readme and looked in the wrong place in the source code. :-)

[2021-07-26 12:16] woehrl01 commented on #110
@kruemel746 We are all a beginner somewhere 🐱.  Thank you for bringing this up to our attention!

[2021-07-31 13:03] MichiFr opened #120 "Missing Attribute get"
Hi!

First of all thanks for this great lib and the maintenance of the repository! I'm using it for long time now and pushing metrics from Viessmann servers to a local InfluxDB with attached Grafana dashboard.

Today I've updated PyViCare to get the api request running with Viessmann new requirements. I've created a test script using the Basic Usage example here from README.md.

When executing the

[2021-07-31 14:44] woehrl01 commented on #120
Hi @MichiFr as you already found out, the `AttributeError` happens due to a failed authentication.
1. Which library version do you use?
2. Do you have correctly configured the OAuth callback URL on the Viessmann Dev Portal? `vicare://oauth-callback/everest` and disabled reCAPTCHA?

If you think everything looks right. Please verify the correct credentials by using Postman as described in the readm

[2021-08-01 12:24] #110 closed, assigned to nobody

[2021-08-01 12:25] #115 closed, assigned to woehrl01

[2021-08-01 12:29] #106 closed, assigned to nobody

[2021-08-01 13:16] #79 closed, assigned to nobody

[2021-08-01 18:35] woehrl01 commented on #73
Hi @ddokupil I just added this feature in #124 .

To set it to dhw only, you can send "dhw" via `setMode`.

[2021-08-01 18:35] #73 closed, assigned to nobody

[2021-08-03 10:29] jborup opened #129 "Suggestion for using local cache with a ttl to reduce ratelimit issue"
First thanks for maintaining the PyViCare package - awesome job!

After the change of the Viessmann API and the ratelimit I was wondering if it would not make sense to introduce a local caching for feature GETs?
I am using home assistant and I would like to increase the update frequence but if I do so at the current implementation that would break the ratelimit. However for the pulling of values t

[2021-08-03 10:45] crazyfx1 commented on #129
I'm a bit confused why we get so many requests for that feature, although this is already implemented for a long time.

- PyViCare supports caching by passing the cacheDuration as parameter.
- The ViCare integration in HomeAssistant has a default cache duration of 60 seconds
- 60 seconds cache is the lowest you can go with the daily limit of 1450 requests

[2021-08-03 10:45] woehrl01 commented on #129
Hi @jborup thank you for your idea.

Actually, this is already implemented and can be controlled via `setCacheDuration` at the `PyViCare` class. Starting from 2.x this is set to 60 seconds per default. Which lets you stay inside the current API rate limit.

At earlier versions, this has to be manually set to more than 0, to be enabled. (outside of Home Assistant, where the default is 60)

edit: lo

[2021-08-03 10:55] woehrl01 commented on #129
@jborup You mentioned that you would like to increase the update frequency in Home Assistant. Which benefit do you see in this, when all the calls are hitting the cached values?

[2021-08-03 13:42] jborup commented on #129
@woehrl01 @crazyfx1 thanks for the quick response, and agree all seems to be cached.

After looking at the code I can only say I jumped to conclusions, it is all cached and looks good! I will have to check what issues I might have on the home assistant side.

PS! Since I had to dig deeper anyway I created the test for Vitodens300W along with the test, you should have it as a simple PR for now. Rat

[2021-08-03 13:44] jborup commented on #59
Added one more gazboiler in PR #130

[2021-08-03 15:05] #129 closed, assigned to nobody

[2021-08-03 17:50] prior-philip opened #131 "When will pyViCare be updated in PyLib"
typo in "/usr/local/lib/python3.9/dist-packages/PyViCare/PyViCareService.py" line 48

Error raised:
dump() missing 1 required positional argument: 'fp' in python json

Change
 post_data = data if isinstance(data, str) else json.dump(data)
to
 post_data = data if isinstance(data, str) else json.dumps(data)

[2021-08-03 18:45] woehrl01 commented on #131
Thanks @prior-philip for reporting this. I'm just pushing a fix. Not sure what you mean with the title of the issue, though.

[2021-08-03 19:00] #131 closed, assigned to nobody

[2021-08-03 19:50] prior-philip commented on #131
sry. Title might be pre-filled by browser. I thought I entered a more meaningful text

[2021-08-03 20:02] woehrl01 commented on #120
I close the issue for now, if you still encounter the issue, I'm happy to reopen.

[2021-08-03 20:02] #120 closed, assigned to nobody

[2021-08-04 13:17] AnduriI commented on #79
@woehrl01 Thanks for adding this feature. But how to actually use it? I tried `t.getDomesticHotWaterCirculationSchedule()` but it only gave the response `['5/25-cycles', '5/10-cycles', 'on']` (so only the options, not my specific schedule).
What to enter as a valid argument for `setDomesticHotWAterCirculationSchedule("")`? Do I simply add 5/25, 5/10 or on and this is used till the next command (ei

[2021-08-04 15:32] jborup commented on #97
@julred I added a section to the readme file on how to extract your config: https://github.com/somm15/PyViCare#more-different-devices-for-test-cases-needed

However your setup may not extract all of the info if the devices are connected to the same controller, and hence gives both a device[0] and device[1]. So could be interesting to know your setup better and the output as well.
I do not know the

[2021-08-04 16:41] cheinz71 opened #142 "Security issue & PyViCare might not work in the future"
Hi there,
I have a question to the security layer of this library.
As callback URL, the following has to be configured: "**vicare://oauth-callback/everest**"
This is not a valid schema, obviously intended by the author.
As a result, The Authorization Code workflow fails by calling the redirect URI to transmit the Auth Code.
The PyViCare library expects the resulting exception in file "PyViCareServ

[2021-08-04 16:53] woehrl01 commented on #142
Hi @cheinz71

Thank you very much for bringing this up. These are absolutely valid concerns. This should definitely be addressed.

[2021-08-04 19:06] woehrl01 commented on #142
I just modified the logic so that it is not relying on the invalid schema exception any more. As mentioned in the PR it's not addressing all off your concerns as we currently are not relying on using the browser for the credential workflow. For Home assistant, this will be part of that integration. For another a browser only integration, an additional OAuth Manager needs to be implemented.

[2021-08-04 19:21] woehrl01 commented on #79
@AnduriI I haven't used this on my device yet to be honest.

[2021-08-04 19:40] woehrl01 commented on #79
I just added additional methods which return the current active mode.

[2021-08-06 12:05] #142 closed, assigned to nobody

[2021-08-06 12:07] woehrl01 commented on #142
@cheinz71 I just added a browser-based OAuth flow, which address the issues you described here. You need to add `localhost:51125` as your redirect uri. Currently, the port is not configurable.

[2021-08-07 10:10] jborup opened #152 "command calls does not seem to have basic errorhandling in place"
Hi,

I tried doing a `print(t.getOneTimeCharge())` and I was a little surprised when it just returned:
{"viErrorId":"req-XXXXX","statusCode":502,"errorType":"DEVICE_COMMUNICATION_ERROR","message":"DEVICE_COMMUNICATION_ERROR","extendedPayload":{"reason":"INTERNAL_SERVER_ERROR"}}

But no exceptions was thrown.

Looks like a @handleAPIErrors or something similar at set calls like activateOneTimeCharg

[2021-08-07 11:12] woehrl01 commented on #152
Good idea!

[2021-08-07 11:19] woehrl01 commented on #152
You mentioned getOneTimeCharge and activateOneTimeCharge. Which was the exact ohne you have used? As the get call should not resolute in a side effect if activating something and thus should not return your described error.

[2021-08-07 11:53] jborup commented on #152
I created a PR #153 so in response to your comment maybe you see the answer in the code. What triggered me was the activeOneTimeCharge() function not handling errors. So I "thought" things was okay until I started doing the postman equivalent and saw it was in error. Now any post calls leading to statuscode 4xx, 5xx will lead to this exception. Which I believe should be an okay exception in genera

[2021-08-07 12:04] #152 closed, assigned to woehrl01

[2021-08-07 12:16] woehrl01 opened #155 "Discussion: Removing of Feature Flags"
I'd like to discuss the removing of the feature flags. I would like to reduce the complexity of some code parts by having them removed.

Are there any arguments for keeping those?

[2021-08-07 12:33] woehrl01 commented on #152
I just published v2.5 including your mentioned PR.

[2021-08-07 15:08] jborup commented on #155
@woehrl01 maybe it is a good idea to add a bit about why the feature flag function was introduced to this code?
As I see it you introduced it yourself to smoothen a transition earlier this year to avoid conflicts, but if it is without any issues I would agree to remove the current feature flags - ref:  https://github.com/somm15/PyViCare/commits/master/PyViCare/Feature.py

However as a principle I

[2021-08-07 16:14] woehrl01 commented on #155
That's straightforward. The feature flags have been introduced to reduce the burden on the consuming side of the library to quickly adapt to raising exceptions. As feature flags are a kind of technical depth, I'd like to reduce them. Especially as they are enabled by default since 2.x.

Particularly as we introduced many breaking changes recently (custom client_id, different API surface). I'd be m

[2021-08-09 10:12] jborup commented on #155
@woehrl01 Yups I get it they are great to handle technical debt. But also to avoid any negative side effects to the latest api command exceptions I would recommend to keep that feature flag, the rest should be able to be removed by now.

[2021-08-12 07:51] prior-philip opened #158 "Functions stops working"
It seems that some functions seems to stop working with current release of PyViCare.

[code]

Is that anything that I can solve on my end? I see that "getDomesticHotWaterConfiguredTemperature" is part of PyViCareDevice.py. So whats the issue? I didnt try every function but at least several "gets" are affected

[2021-08-12 09:22] woehrl01 commented on #158
Hi @prior-philip

This is due to the noted breaking change in the Readme, that on not supported features a `PyViCareNotSupportedFeatureError` is thrown. It simply means that your device does not return values via the new Viessmann API.

Before it just returned `error` as string which doesn't created your output.

You can either add a `try/except` block or use `suppress` from `contextlib`.

[2021-08-12 10:12] prior-philip commented on #158
Hi @woehrl01
okay. I was sure these features exists but it seems you are right. But when setting OneTimeCharge to "true" it also fails with "COMMAND NOT EXECUTABLE" - That worked before. I promise ;)

[code]

[2021-08-12 10:20] BrechtMo commented on #158
I think Viessmann made some changes to the API concerning hot water readouts.
This happened in the last couple of days.

One example:

To get the top temperature of my vitocell solar boiler I now have to query
`heating.dhw.sensors.temperature.hotWaterStorage`

where before it was
`heating.boiler.sensors.temperature.main`
(doesn't work anymore)

this also broke some Home Assistant functionality rel

[2021-08-12 12:12] prior-philip commented on #158
Is is planned to funnel such exception into a message ("error" is fine for me) rather than breaking the process?
BrechtMo already mentioned that feature paths are changing. Catching them a controlled way would help the users a lot to keep their scripts running,

[2021-08-12 12:48] woehrl01 commented on #158
@prior-philip [As described in the readme](https://github.com/somm15/PyViCare#breaking-changes-in-version-1x), currently feature flags are available to switch back to the old behaviour (see `Feature.raise_exception_on_not_supported_device_feature`)

[See the following test for an example how to use it.](https://github.com/somm15/PyViCare/blob/6a65f6f9902142584dce8821705e86223e5054a3/tests/test_Vit

[2021-08-12 14:38] williwacker opened #161 "Add Solar properties"
Please add
- getSolarStorageTemperature
- getSolarPowerProduction
to the PyVicareDevice.py code

[2021-08-12 15:46] woehrl01 commented on #161
@williwacker Thank you for providing the changes. As we don't have any test response yet, which has these values provided, could you please also add a test response? [How to do it as easy as possible is written in the readme](https://github.com/somm15/PyViCare#more-different-devices-for-test-cases-needed).

[2021-08-13 09:39] williwacker commented on #161
Added test output viessmann.data as the routine dump_secure is not found in the code

[2021-08-13 21:27] #161 closed, assigned to nobody

[2021-08-13 21:30] woehrl01 commented on #158
I'll close the issue for now. Please share your opinion regarding the feature flag removal in #155 .

[2021-08-13 21:30] #158 closed, assigned to nobody

[2021-08-13 21:33] woehrl01 commented on #161
@williwacker I found your fork and used your changes to pull into the repo. Thanks for providing the test output. The missing method for dumping the output is available in the latest version 2.5.2.

I also just published 2.6 which includes the new solar sensors.

[2021-08-16 06:37] sweh opened #167 "PyViCare.PyViCareUtils.PyViCareNotSupportedFeatureError: heating.dhw.temperature"
Hi there,

since 2.6 release I get the following error with my Vitodens W200:

[code]

All other api calls like `setDomesticHotWaterTemperature` are working.

Any ideas?

[2021-08-16 18:44] woehrl01 commented on #167
Hi @sweh

It looks like that this property is not supported on your device. Did you receive a valid response in the past? What was the previous version where the call worked successfully?

[2021-08-17 13:10] woehrl01 commented on #167
Reopen as we still need a fix for setting of the temperature (see: https://github.com/oischinger/ha_vicare/issues/47)

[2021-08-17 19:04] #167 closed, assigned to nobody

[2021-08-30 07:10] cagnulein commented on #59
hello guys, with the new API i can't read anymore the burner hours from my vitoconnect OT2 and Viessman 111W. is it supposed to work? Everything was fine with API v.1.x

Fixed in #177

[2021-08-30 18:48] woehrl01 commented on #59
@cagnulein Yes, it should work, I saw that you provided a fix, so that the auto-detection works for your device. Thanks!

[2021-09-03 07:01] woehrl01 opened #179 "Improve debug on invalid responses"
As mentioned in https://github.com/oischinger/ha_vicare/issues/49 there is a not really helpful error if something is wrong on the initial device reading.

[2021-09-03 18:42] oischinger commented on #179
I just had the same issue. Never occured before.
[code]

[2021-09-03 19:13] woehrl01 commented on #179
Is this reproducible for you? I would be interested in what is the actual response.

[2021-09-03 19:19] oischinger commented on #179
unfortunately not. I only got it once.

[2021-09-03 21:47] m0m4x opened #180 "Please provide heating.solar support!"
Please provide solar heating support.

- heating.solar
- heating.solar.pumps
- **heating.solar.pumps.circuit** (current status of solar heating pump)
- heating.solar.sensors
- heating.solar.sensors.temperature
- **heating.solar.sensors.temperature.dhw**  (current water temperature into the solar panel circuit)
- **heating.solar.sensors.temperature.collector** (current solar panel temperature)
- **

[2021-09-04 19:07] woehrl01 commented on #180
hi @m0m4x,

thank you for providing a current dump of the solar values. Your requested attributes are already available on the `Device` type.

* `getSolarPumpActive()`
* `getSolarCollectorTemperature()`
* `getSolarPowerProduction()`
* `getSolarStorageTemperature()`

[2021-09-04 19:07] #180 closed, assigned to woehrl01

[2021-09-04 19:51] #179 closed, assigned to woehrl01

[2021-09-05 18:20] woehrl01 commented on #179
I can reproduce it currently the server returns an internal error 500. I added a better output. But this can't be solved form our side.

[2021-09-05 20:32] to-masz opened #183 "Home Assistant ViCare integration"
Hi! Is there any ongoing work to update the Home Assistant Viessmann ViCare integration (https://www.home-assistant.io/integrations/vicare/) to use PyViCare 2.x? Or would be there anyone interested to start/join such an effort? cc @oischinger

It looks like in HA the 1.0.0 adoption happened (https://github.com/home-assistant/core/pull/53281) - mainly because of the old api shutdown. I can see seve

[2021-09-05 21:09] woehrl01 commented on #183
Hi @to-masz

The developing work for the Home Assistant integration is tracked in the ha_vicare repo. The adoption for the latest update of this lib is in the following PR: https://github.com/oischinger/ha_vicare/pull/43

In the current HA integration, multiple circuits are already possible, but need to be manually configured.

I'm not certain if I understood your question?

[2021-09-06 09:00] to-masz commented on #183
Ok, thanks. Then, I believe I know where to contribute. I was not aware the ha integration development happens in the @oischinger's repository 😉

You mean the current or the one in-progress in oischinger/ha_vicare#43? Any chance to get a tip how to make it?

[2021-09-06 09:00] #183 closed, assigned to nobody

[2021-09-06 09:05] woehrl01 commented on #183
It's in the already existing official HA integration. In your `configuration.yml` set the `circuit` to your circuit id. (see https://www.home-assistant.io/integrations/vicare/#circuit)

The current integration, in development, has auto-detection in place.

[2021-09-06 14:32] woehrl01 commented on #97
I added all known properties with the latest PR see #178.

If you are new properties feel free to add a response dump.

[2021-09-06 14:32] #97 closed, assigned to nobody

[2021-09-07 15:56] sskrlj opened #186 "Schedule entries ending with 24:00 fail parsing with datetime.strptime"
My schedule entries frequently finish at midnight and Viessmann decided to write this as `"end": "24:00"`, causing `datetime.strptime` in `endTime = datetime.strptime(s["end"], '%H:%M').time()` to complain with `ValueError: time data '24:00' does not match format '%H:%M'`.

[2021-09-07 16:00] woehrl01 commented on #186
Thanks, for the report. This should definitely be fixed.

[2021-09-07 16:42] sskrlj commented on #186
For the purpose of fixing failing `getDomesticHotWaterActiveMode` in
`         for s in schedule[current_day]:
             startTime = datetime.strptime(s["start"], '%H:%M').time()
             endTime = datetime.strptime(s["end"], '%H:%M').time()
             if startTime <= currentTime and currentTime <= endTime:
                 if s["mode"] == VICARE_DHW_TEMP2:  # temp-2 overrides all other m

[2021-09-09 11:00] #186 closed, assigned to woehrl01

[2021-09-15 04:37] #87 closed, assigned to nobody

[2021-09-22 13:43] Looniator opened #192 "Discussion: Adding 'event' features"
I recently got aware about this project.
After setup I was able to request some data from the viessmann vicare api.
Now I like to requests the events using the api, using the 'events-history' call.
See https://developer.viessmann.com/de/doc/events-mw-iot/v1

I know programming and python, but I am new to github and classes.
If you give me some help to implement the framework to call the events-his

[2021-09-22 15:33] woehrl01 commented on #192
Hi @Looniator,

Thank you very much for your offer to improve PyViCare. Adding events requires either the gatewayid or the installationid. That means an extension to the PiViCare class could be a good starting point. In order to guide with an ideal API, I'm interested what your use case would be. Is it polling all the events each time in a single run scenario, or having something permanent running

[2021-09-23 10:59] Looniator commented on #192
Hi Woehrl01,

my use case would be to download and save the events for later analysis purposes. I assume that events like turning on and off of the compressor are within the data, and errors. But I haven't tested yet what kind of events are available (i.e. with CURL ...). I will try this first bevor any significant effort is invested in this topic.
One idea for the API could be a function that akq

[2021-09-23 18:59] woehrl01 commented on #192
Thanks @Looniator, for the clarification. I'm curious about your findings and look forward to your outcome, regarding your goal.

[2021-09-26 15:11] oischinger opened #193 "Consumption data unit support"
Turns out that some systems report kWh and others report m³.
Here's an example of m³ https://github.com/somm15/PyViCare/blob/master/tests/response/Vitodens200W.json ("value": "cubicMeter")
All the others seem to be in kWh ("value": "kilowattHour").

I wonder what is the best way to approach this:
a) Add an additional getter for the unit
b) Perform some calculations to always return kWh or m³

It w

[2021-09-26 15:17] woehrl01 commented on #193
I think having a both options could be handy. For the calculation part we need to pass the correct values for the gas.

[2021-09-26 15:42] oischinger commented on #193
Do we want to handle the calculation in HA or pyVicare?
Usually the HA Core devs want to offload as much as possible to the library.

In any way we need a configuration option for these values to do the calculation.

[2021-09-27 15:00] crazyfx1 commented on #193
I think I would do the calculation in the HA integration, since it's easier to configure the "Brennwert" there if it's missing. But either way would be fine ;)

[2021-09-27 16:06] oischinger commented on #193
Me too. On the other hand HA devs tend to ask for offloading these kind of things to the library. So we might have to pass the Brennwert through

[2021-09-27 16:38] woehrl01 commented on #193
I agree, I'm thinking about adding new options to the PyViCare class where you can generally set the output unit (and where you pass the appropriate convertion units. This results in having the a consistent configuration option on the root across all possible values. So it basically requires setting the values only once in the HA setup. Easily to pass via the config flow.

The reason for offloadin

[2021-09-29 08:11] SPITZGITHUB opened #194 "getBurnerActive no longer works"
# #Hello,

since weeks I get the status of the burner via Python and "getBurnerActive" as false or true. Since yesterday this request occurs an error: **_"PyViCareNotSupportedFeatureError: heating.burner"_**. I run a FuelCell and here are all variables I can got:

_device = vicare.devices[0]
t = device.asFuelCell()
circuit = t.circuits[0] #select heating circuit
Komma =";"
ZW = str(t.getDomesticHo

[2021-09-29 08:58] woehrl01 commented on #194
Hi @SPITZGITHUB,

Which version of the library do you use?

In order to help us troubleshoot the issue, please create a dump of the response json as described in the Readme and upload as attachment to this issue.

Thanks!

[2021-09-29 19:44] TvoDebug commented on #194
Same here using PyVicare-2.8.1

Don't get any value anymore since yesterday for:

h = device.asHeatPump()
g = device.asGazBoiler()

circuit = h.circuits[0]
circuit_gaz = g.getCircuit(0)
circuit_hp = h.getCircuit(0)

g.getBurnerActive())
circuit_gaz.getBurnerHours()
circuit_gaz.getBurnerStarts()
circuit_gaz.getBurnerModulation()
circuit_hp.getCompressorActive()
circuit_hp.getCompressorHours()
circu

[2021-09-30 07:31] kruemel746 commented on #194
Same here. I attach the dump-file!

[dump.json.txt](https://github.com/somm15/PyViCare/files/7257553/dump.json.txt)

[2021-09-30 07:34] woehrl01 commented on #194
@kruemel746 thanks for the file. What is the version and code you are using?

[2021-09-30 09:49] SPITZGITHUB commented on #194
The version: Python 3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
Type "copyright", "credits" or "license" for more information.
IPython 7.22.0 -- An enhanced Interactive Python.

Attached the dumpfil
[dump_heating.txt](https://github.com/somm15/PyViCare/files/7258551/dump_heating.txt)
e

[2021-09-30 11:26] woehrl01 commented on #194
@SPITZGITHUB thank you for the result I'll have a look later. As the issue is closed, where you able to resolve the issue on your end?

[2021-09-30 13:18] SPITZGITHUB commented on #194
I do not understand what you mean? Issue closed mean not solved the problem, but anyway closed? I can´t solve the problem on my side!

[2021-09-30 14:02] TvoDebug commented on #194
@woehrl01 I was also confused that topic was closed without a solution :D
For my understanding closed is meaning solved or not needed anymore.
I think nobody will work on closed topics?
Please correct me If I'm wrong.

[2021-09-30 14:02] kruemel746 commented on #194
Version:
Python 3.7.4 (tags/v3.7.4:e09359112e, Jul  8 2019, 19:29:22) [MSC v.1916 32 bit (Intel)] on win32

PyVicare-2.8.1

Thanks for all your help!

[2021-09-30 14:07] TvoDebug commented on #194
Maybe also a hint from Api documentation:
![Screenshot_20210930-160517_Chrome](https://user-images.githubusercontent.com/63579386/135470721-c8d2e3b6-2f1b-408e-a54b-67e217758f48.jpg)
I'm Not Sure If Interation is covered by current pyvicare lib

[2021-09-30 15:05] woehrl01 commented on #194
I just debugged the issue, it looks like that the property has changed in the response instead of `heating.burner` it's now `heating.burners.0`

Thanks for your test responses. Can I have your permission to use your responses to update my test suite? @SPITZGITHUB  and @kruemel746

[2021-09-30 15:34] #194 closed, assigned to nobody

[2021-09-30 15:36] woehrl01 commented on #194
For now, I used my response. I resolved the issue and published version `2.9.0` with the fix. Please notify the breaking change, see #195 for the new API usage.

If the issue still persists, please let us know. Thanks.

[2021-09-30 15:37] TvoDebug commented on #194
Please consider also burner.statistics.N and for Heatpump heating.compressor.N and Heating.compressor.N.statistics

Thank you for fixing and quick help

[2021-09-30 15:55] woehrl01 commented on #194
@TvoDebug yep, I'll have a look for these in a dedicated PR to keep things clean.

[2021-09-30 16:45] woehrl01 commented on #194
@TvoDebug I just verified that the mentioned properties are already correctly populated via the API. I just published an updated verison `2.9.1` to keep the naming consistent across burner and compressor. (see #196 ). It's now `getActive` for both.

[2021-09-30 19:29] kruemel746 commented on #194
@woehrl01 yes, of course. let me know if i can help in any way! Unfortunately I am a total beginner :-)

All the "device"-features seem to work now.

The only "circuit"-function not working since the last api-update is getCurrentDesiredTemperature().
error-message:
site-packages\PyViCare\PyViCareUtils.py", line 45, in feature_flag_wrapper return wrapper(*args, **kwargs)
site-packages\PyViCare\PyVi

[2021-09-30 19:37] woehrl01 opened #197 "getCurrentDesiredTemperature for standby is throwing not supported error"
The only "circuit"-function not working since the last api-update is getCurrentDesiredTemperature().
error-message:

[code]

_Originally posted by @kruemel746 in https://github.com/somm15/PyViCare/issues/194#issuecomment-931603388_

[2021-09-30 19:40] woehrl01 commented on #197
@kruemel746 According to your debug output it looks like that your current active program is `Standby` which has no desired temperature to my knowledge. At least, the new API does not return a value for that program type.

Do you remember the old behaviour?

The question is if we should throw "NotSupported" or simply return `None` in that case? (Thoughts @oischinger , @crazyfx1 ?)

[2021-09-30 19:50] kruemel746 commented on #197
Sorry, my fault! I'm not sure, but I think before also an error was triggered, which I caught myself and simply replaced the value with "getDesiredTemperatureForProgram("normal")" - which was acceptable for my usecase.
I have now tested the code outside my main program and did not think of it.

[2021-09-30 19:53] woehrl01 commented on #197
I just tested the output, it looks like that the behaviour did not change, despite that it's still something to think about. Personally, would prefer returning `None` in that case. Thanks for the hint, I'll keep the issue open for now.

[2021-10-01 08:06] #197 closed, assigned to nobody

[2021-10-01 11:17] oischinger commented on #197
The HA integration now uses the notsupported exceptions to identify if a sensor is generally supported or not.
If we want to keep that logic I would prefer to use None for temporarily not supported data

[2021-10-01 11:39] woehrl01 commented on #197
Thanks @oischinger for you opinion. I agree with you, so I'm returning `None`. I need to have a look for other values where this behavior should be changed similar.

[2021-10-02 06:25] crazyfx1 commented on #193
Is this still needed? Seems like they support kWh now in the new beta. I'm just confused that it's just a frontend PR.
https://github.com/home-assistant/frontend/pull/10075

[2021-10-02 06:37] woehrl01 commented on #193
I think we still need at least provide the unit via the api

[2021-10-02 06:45] oischinger commented on #193
Yes, sometimes the API only delivers cubic meters and we need to differentiate

[2021-10-02 13:06] williwacker opened #202 "Question: Burner Active state missing for you as well"
Hi,
Since starting of this week I no longer get the BurnerActive state from the API. I have installed the latest version but no change.
Does anybody else is having the same problem? Or is this a setup problem?
Thanks

[2021-10-02 15:50] crazyfx1 commented on #202
Did you check #194 ?

[2021-10-02 17:43] MichiFr opened #203 "Wrong URL in Postman Instructions"
Hi,

Step 2 in the API Postman instructions, tells me to use the URL [https://api.viessmann.com/iot/v1/equipment/installations?includeGateways=true](url)

This one is obviously wrong as it still uses the v1 API.  The same applies to the URL in step 3 as this uses the v1 API, too.

Is there anything else I could use to get the gateway serial and installation ID?

Thanks,
Michael

[2021-10-02 17:46] MichiFr commented on #203
Hm, just used those URLs again and out of a sudden they now work despite the fact of a presumbly v1 API call?
Maybe its due to a previous login to the Viessmann developer portal?

[2021-10-02 20:58] woehrl01 commented on #203
Hi @MichiFr, V1 is the correct version, according to the docs of viessmann for this type of data. Why do you think it's the wrong url?

[2021-10-03 05:48] MichiFr commented on #203
Because of the v1 term in the URL. I got the impression that Viessmann recently changed to version 2 of its API, but I was wrong. The authentification works perfectly well in Postman and PyViCare.

OTH, with the latest release of PyViCare, I've to change all of my coding to get it working again. But that's a different story and is my personal fate.

BTW, before the main restructure of the PyViCare

[2021-10-03 09:21] crazyfx1 commented on #203
Yes, creating a fork, implement the changes (and unit tests) and then create a PR is the way to go ;)

[2021-10-03 09:54] woehrl01 commented on #203
You're correct @MichiFr there was an API version change. The change was only affecting the login, as the client ID has been added and the overall way to authenticate has changed a bit. The V1 for the properties is still the same, except that due to accessing the API with a "free" API key, a few features are not supported and thus are not available any more. The overall API is still valid, though.

[2021-10-03 10:19] williwacker commented on #202
Thanks,
I have checked this.
But I see that it is not related to the code that extracts the individual values. Fact is that the heating feature is not providing the burner component:
`[({"apiVersion": 1, "isEnabled": true, "isReady": true, "gatewayId": "################", "feature": "heating", "uri": "https://api.viessmann.com/iot/v1/equipment/installations/#######/gateways/################/device

[2021-10-03 12:00] williwacker opened #206 "Add flat option to dump_secure"
For having a short look on the dump output I find it more convenient having a flat output.

see #205

[2021-10-03 17:33] woehrl01 commented on #203
I'm closing the issue for now, if you want to add additional properties feel free to provide a PR or open a new issue.

[2021-10-03 17:33] #203 closed, assigned to nobody

[2021-10-04 09:55] williwacker commented on #206
Have updated the routine using regex for searching the first parameter

[2021-10-04 18:40] #206 closed, assigned to nobody

[2021-10-06 08:58] prior-philip opened #208 "setDomesticHotWaterTemperature feature throwing error"
Getting error when setting "setDomesticHotWaterTemperature" and "setDomesticHotWaterTemperature2" with integer value.

`File "/home/ubuntu/.local/lib/python3.9/site-packages/PyViCare/PyViCareDevice.py", line 154, in setDomesticHotWaterTemperature
    return self.service.setProperty("heating.dhw.temperature.main", "setTargetTemperature", {'temperature': temperature})
  File "/home/ubuntu/.local/lib

[2021-10-06 09:08] woehrl01 commented on #208
This can have three reasons:
1. The command is not supported on your side
2. More likely. A value is sent which is outside the allowed range.
3. Not verified, but could also be an issue: You are passing in the temperature as a string instead of an integer (try using `int(value)` as the argument.

[2021-10-06 09:37] prior-philip commented on #208
Yepp (3) was it. The MQTT value that my script got was treated as str. Transforming to int solved it.

Some values are sting, some are int. But all commands are processed within same routine, probably not just in my scripts..
I kindly request to add int(value) in PyViCareDevice for values expected as integer.

[2021-10-06 10:32] woehrl01 commented on #208
Thanks for confirming nummero three. I'll add that cast into the library.

[2021-10-06 12:27] prior-philip commented on #208
Solved by changing numeric value to integer

[2021-10-06 12:27] #208 closed, assigned to nobody

[2021-10-06 17:08] MichiFr opened #209 "Need some clarification"
Sorry for posting a such a help request here rather than on discord. Discord is unfortunately too complicated for me and far away from user friendly!

My Vitodens 200W supports `heating.dhw.oneTimeCharge`, at least this reveals a Postman GET-request. There are many properties my device supports but almost all fail and result in an exception because PyViCare expects some further properties when req

[2021-10-06 17:20] woehrl01 commented on #209
@MichiFr. Please have a look if `isEnabled` and `isReady` are both `true` on the entry. Even though a few is available in the api it's still can be that it's not working.

Even though the library has been refactored and updated on the usage level, it still uses the old access methods. If the method does not return a value, it simply is not supported on your device, even though it has worked in the

[2021-10-06 17:38] MichiFr commented on #209
Hi and thanks for your reply!

Is this the JSON below that should be found by method `getOneTimeCharge`?

[code]

IMO `isEnabled` and `isReady` is true, nevertheless the call to method `getOneTimeCharge` fails.

I understand that now missing "features" of the current Viessmann API may cause some issues, but so far I always re-checked with the Postman data and got the impression, that one or more p

[2021-10-06 17:45] crazyfx1 commented on #209
It seems like you didn't provide the whole part of "oneTimeCharge".

[code]

You can see on top the properties object with the value property.

[2021-10-06 17:46] woehrl01 commented on #209
Hi @MichiFr , if you look at all the existing test results, `["properties"]["active"]["value"]` is set to `false` if it's currently not active. Could you please send us a test output for both cases:

1. When you have one time charge disabled.
2. When you have enabled it via the official ViCare App.

If we have a testcase that his is actually a behaviour of your device I'm happy to add the edge cas

[2021-10-06 17:57] MichiFr commented on #209
So here is the complete one time charge output.

The JSON is really hard to read, you know, because I would expect the appropriate feature `heating.dhw.oneTimeCharge` on top and the state below. It seems it is somehow distracted.

So my data looks similar to yours @crazyfx1

[code]
@woehrl01 Yes, this is what I would expect too and as far as I can see from the output above, it **is** set to false.

[2021-10-06 18:01] woehrl01 commented on #209
@MichiFr No worries, we are here to help.

The output looks like it should be, strange that the error happens for you. Could you please verify that you use the latest version of the lib by running `pip show PyViCare` ?

[2021-10-06 18:05] MichiFr commented on #209
Sure, just noticed version 2.11 was release 3 days before.

Name: PyViCare
Version: 2.10.0
Summary: Library to communicate with the Viessmann ViCare API
Home-page: https://github.com/somm15/PyViCare
Author: Simon Gillet
Author-email: mail+pyvicare@gillet.ninja
License: UNKNOWN
Location: c:\users\michael\appdata\local\programs\python\python38\lib\site-packages
Requires: pkce, requests-oauthlib
Requ

[2021-10-06 18:09] woehrl01 commented on #209
this looks all good. Can you please share how you call and use the library?

[2021-10-06 18:14] woehrl01 commented on #208
I just published `2.11.1` with this fix. @prior-philip

[2021-10-06 18:25] MichiFr commented on #209
@woehrl01 I guess my wrong usage of the various class methods is what causes my issues: I've added some helper classes that should help me when calling PyViCare methods, performing some more actions including pushing the data into Grafana.

I just noticed that when setting up a basic example, based on the dump code here on the first page of the project, I get correct values back!

I too, noticed t

[2021-10-06 18:31] woehrl01 commented on #209
Glad to hear that you found the root cause of the problem. If you have any suggestions on improving the readme and/or documentation of the library to make things more clear, I would be more than happy to hear them. All the best for your refactoring. I'll close the issue. You are welcome to reopen.

[2021-10-06 18:31] #209 closed, assigned to nobody

[2021-10-06 19:09] prior-philip commented on #208
Thanks, really appreciate it.

On Wed, 6 Oct 2021, 20:14 Lukas Wöhrl, ***@***.***> wrote:

[2021-10-08 22:19] jcplu opened #215 "PyViCareInvalidCredentialsError"
Hello,
I updated the file with my client_id, email and password.
Client_id created with Name= PyViCare and URi= vicare://oauth-callback/everest
I have a PyViCareInvalidCredentialsError because there is no Location in my response.headers.
How to fix that ?

[2021-10-09 08:01] woehrl01 commented on #215
Hi @jcplu ,

the missing `Location` header is an indication of invalid credentials, as this is basically the required redirection after a successful login of the OAuth flow.

Let's see how we can troubleshoot his.
* How do you use the library? (Integration HA, custom code, etc?)
* Which version do you use of the library?
* What is the debug output? As if the lib fails due to missing `Location` hea

[2021-10-09 08:10] jcplu commented on #215
Hi @woehrl01,
- custom code in python
- I installed it with pip , version 2.12.0
-  where can I find the log ? I printed the response

`
<Response [200]>
{'Date': 'Sat, 09 Oct 2021 07:40:14 GMT', 'Server': 'Apache', 'Set-Cookie': 'NPSession=b11b14ac1515CQnOa...XXXXXX...I6WDRGCk7s7vcCEpRwGQAL7N; Path=/; Secure; HttpOnly, iam_pers_sess=ffffffffaf1c0b04455...XXXXXX...e445a4a42378b;expires=Sat, 09-Oct

[2021-10-09 08:23] woehrl01 commented on #215
Thank you for the hint with the special characters, I dived into the `auth` library we use from python, as it looks like that the following snipped is not encoding character the way as the Viessmann API is expecting them

[code]

Can you tell me what kind of special characters you use so that I can create a testcase on my end, to see how we can fix this from the library perspective?

[2021-10-09 08:25] woehrl01 commented on #215
I forgot: to make the login via browser work (from the lib) you need to add `http://localhost:51125` as an additional valid URL at the Viessmann portal.

[2021-10-09 08:29] jcplu commented on #215
special characters : + - \\
also I noticed that "IoT User" is written IoT+User ? is it the same as IoT%20User ?

[2021-10-09 08:32] jcplu commented on #215
with localhost added > Success. You can close this browser window now.

[2021-10-09 08:35] woehrl01 commented on #215
Yes, `+` and `%20` are basically the "same" encoding for a whitespace.

I'll have a look at the special chars, as `:` is a character which separated the user form the password in a basic authentication.

If you use a `\`, do you escape it properly, in a python string? Just that we are confident that this is not the issue?

[2021-10-09 08:40] jcplu commented on #215
Oups ! working, tnx

[2021-10-09 08:42] woehrl01 commented on #215
Awesome, enjoy. Happy coding!

[2021-10-09 08:42] jcplu commented on #215
Where can I find the log if needed ?

[2021-10-09 08:45] woehrl01 commented on #215
In a Home Assistant environment, it's automatically wired up.

If you have a custom code you have to configure the logger:

[code]

of couse you can wire up the logger (e.g. file) however you want

[2021-10-09 08:48] jcplu commented on #215
How can I get the full list of the commands available for my Vitoconnect ?

[2021-10-09 08:51] woehrl01 commented on #215
Currently they only way to find out which commands are available, [is to dump the feature response](https://github.com/somm15/PyViCare#more-different-devices-for-test-cases-needed), and search through the resulting JSON, for all the available commands.

[2021-10-09 08:52] jcplu commented on #215
In Vicare app, I have access to the programs : reduced and normal.
When I print with PyViCare, I have ['active', 'comfort', 'eco', 'external', 'holiday', 'normal', 'reduced', 'standby'].
Is it possible to use all the programs ?

[2021-10-09 08:57] woehrl01 commented on #215
As there are different responses across the test suite, I expect yes. But the the only way to find out is by simply testing.

Keep in mind standby equals to of, and holiday requires sending an end date which is currently not implemented.

The api validates the request so you will receive an error if it's not working.

[2021-10-09 09:12] jcplu commented on #215
Ok, tnx for all. I have the dump.json if needed (vitoconnect 100 opto1).
Last question for this day, which interior temperature sensor do you advice me to add in my installation ?
The goal is to get inside and outiside temperatures in real time to update with optimal settings.

[2021-10-09 09:56] woehrl01 commented on #215
Personally, I use Home Assistant as my central control solution. I have Homematic Thermostats at my radiators and also a Homematic Temperature Sensor in each room linked to the radiators. I prefer not interacting with the overall heating temperature of the house all too much, by having the correct curve and shift, and have it all setup on a general schedule. The only automatic on/off switching is

[2021-10-09 16:40] #215 closed, assigned to nobody

[2021-10-09 16:46] jcplu opened #216 "OutsideTemperature"
Outside temperature is always a decimal with .5 , ie. 20.5°C, 21.5°C ...
Is there a setting to have at least decimals .0 and .5 (or better accuracy) ?

[2021-10-09 17:13] woehrl01 commented on #216
According to the test responses and the tests, I can't confirm the behaviour you see. Please have a look for the usage of `getOutsideTemperature()` on your end.

[2021-10-09 17:55] jcplu commented on #216
I logged the outside temperature during around 8 hours with a measure every 15 minutes : I have 30 measures with the decimal .5 (4 different values) and 2 measures with the decimal .2 (1 value) and they are the same values in Vicare app.

[2021-10-09 19:18] adorobis commented on #216
Interesting observation in my case. I keep only 2 weeks in history so not sure what was happening before. Until 30 September I can only see values without decimal and since that moment values are either with .4 and since last night with .6 see sample below. Isn't this strange?
[code]

[2021-10-09 19:28] jcplu commented on #216
I think it is. The measurement accuracy is .1 so we should see different decimals because they are equally probable.

[2021-10-09 20:48] hnykda opened #217 "Vitodens 100w - expose consumption data"
Hi,

I noticed that my Gas Boiler Vitodens 100w just recently got an update in ViCare android app and I can see daily/weekly/monthly statistics. But when I try e.g. `t.getGasConsumptionDomesticHotWaterToday`, I get `PyViCare.PyViCareUtils.PyViCareNotSupportedFeatureError: heating.gas.consumption.dhw`. In the `device.get_raw_json()` I can see `heating.power.consumption` being enabled, but have no i

[2021-10-09 20:50] woehrl01 commented on #217
Hi,

You just mentioned that `heating.power.consumption` is in the `get_raw_json` response. The method you use is the gas consumption. Does `getPowerConsumptionDays()` work for you?

[2021-10-10 06:18] jcplu commented on #216
This day, I have only decimal .2 ; the OutsideTemperature is not accurate and the value to consider is at best the integer number.
I also have doubt on some values at night.

[2021-10-10 07:37] crazyfx1 commented on #216
That's strange. On my heating system I definitely have all decimal points available.
![image](https://user-images.githubusercontent.com/9930385/136686996-f8f46c96-8ec8-405d-8111-05b67364e658.png)

Which type of heating do you have?

[2021-10-10 07:55] jcplu commented on #216
Viessmann gas boiler Vitodens 222-F

[2021-10-10 07:58] jcplu commented on #216
How do you get this curve ?

[2021-10-10 08:02] crazyfx1 commented on #216
The chart is from home-assistant, which has the vicare integration based on PyViCare.

[2021-10-10 08:09] jcplu commented on #216
How can I test my installation with HA ?

[2021-10-10 08:16] jcplu commented on #216
The values in ViCare app are the same that I get from PyViCare. In this case, is it a problem from my temperature sensor ?

[2021-10-10 08:35] woehrl01 commented on #216
Yes, it's mostly the sensor. Keep in mind that there is a configuration option at the heater to configure a regular offset of the temperature sensor. If I compare my sensor value with an online temperature at my location I can also see that sunlight has a huge impact on the sensor against the overall temperature.

[2021-10-10 08:36] adorobis commented on #216
The same in my case, I have Vitodens 200-W. So either the device or the API. The strange thing is that till 30 September it was full numbers without decimals and since then always .4 or .6
Need to dig into those parameters to see if maybe something happened there.

[2021-10-10 08:48] adorobis commented on #216
Which heater do you have? Do you know which parameter controls it? I have Vitodens 200-W and I could not find such parameter for temperature sensor offset in the service manual...

[2021-10-10 09:08] jcplu commented on #216
My sensor is exposed to the north and in my case, I don't think that is the reason. If so, all the more reason to see the decimals changed.

[2021-10-10 09:11] hnykda commented on #217
Nope, I get:

[code]

[2021-10-10 09:12] hnykda commented on #217
![image](https://user-images.githubusercontent.com/2741256/136689704-320914b4-6359-4036-9156-f553b72c23e8.png)
this is in the app

[2021-10-10 10:17] hnykda commented on #217
[code]

[2021-10-10 10:19] hnykda commented on #217
The app needs to get it from somewhere, right? Can I sniff it maybe? :grin:

[2021-10-10 10:52] crazyfx1 commented on #217
The app uses a different API and we can’t use that anymore. If the consumption data is missing in your response, you can only write to viessmann to include it for your system.

[2021-10-10 10:54] hnykda commented on #217
thank you, will do.

[2021-10-10 11:05] hnykda commented on #217
Any particular contact I should use?

[2021-10-10 11:39] crazyfx1 commented on #217
There is an email address on the Viessmann developer portal.

[2021-10-15 06:35] jcplu commented on #216
This morning the outside temperature from Vicare is 7.3°C, but the temperature from google/internet is 3°C.
Is there a way to calibrate/verify the sensor ?

[2021-10-15 06:45] adorobis commented on #216
I would not trust google too much. In my case the outside Viessmann sensor is very reliable (also compared to other sensors I have), except for sticking to a .something value (this time .7).

[2021-10-15 06:48] woehrl01 commented on #216
According to https://www.viessmann-community.com/t5/Gas/Vitodens-333-Aussentemperatursensor-Offset/td-p/160930 the offset can be changed on `6E`.

[2021-10-15 07:41] jcplu commented on #216
outside temperature from Vicare 8.3°C and from Vitodens 9°C

[2021-10-18 08:20] paradix commented on #216
Two years ago I had a similar issue. And the problem was in the cable connecting the outside temperature sensor to the boiler. Maybe check this.

On the other hand, I also noticed that the readings on my outside temp sensor are not that exact anymore, showing only changes of 1 degree. But checking my grafana logs for the last 6 months it seems to always have been like that :)

[2021-10-18 08:26] paradix commented on #216
Ok checked again, the precision of the temp measurements changed in my case around 2021-04-27 08:42:18. Since that moment all temp changes reported only with a precision on 1 degree Celsius.

[2021-10-23 05:06] jcplu commented on #216
This morning the outside temperature from Vicare is 8°C, but the temperature from google/internet is 4°C.
I noticed that the screen of the vitodens is partially unstuck. How can I fix it ?

[2021-10-23 07:31] paradix commented on #216
That's rather an issue for the Viessmann service than for github 😉

[2021-10-23 08:39] adorobis commented on #216
I'd rather validate if the reading is correct by putting a good analog thermometer at the same place where viessmann sensor is. I would definitely not trust internet services with temperature that can be different by a few degrees. This is normal situation and the reading will depend on sun exposure, house heat and some other factors.

[2021-10-28 16:33] jcplu commented on #216
I use another external sensor and I get 2 degrees less.
So I set the code 6E:30 to get the right outside temperature.

[2021-10-28 16:33] #216 closed, assigned to nobody

[2021-11-01 08:04] numanx11 commented on #217
Hi there, viessmann added API support for gas and power consumption.

https://www.viessmann-community.com/t5/The-Viessmann-API/Pulling-consumption-statistics-from-API/m-p/193620/emcs_t/S2h8ZW1haWx8bWVudGlvbl9zdWJzY3JpcHRpb258S1ZHRDZaTDlCRFdMVkd8MTkzNjIwfEFUX01FTlRJT05TfGhL#M343

https://developer.viessmann.com/en/doc/changelog

[2021-11-01 19:38] #193 closed, assigned to nobody

[2021-11-01 19:41] woehrl01 commented on #217
@numanx11 The mentioned endpoints have been implemented already. If they don't return values for you, it's likely not supported or enabled on your device. In either case, you need to reach out to Viessmann support directly.

[2021-11-01 19:41] #217 closed, assigned to nobody

[2021-11-01 19:42] #34 closed, assigned to nobody

[2021-11-01 19:42] #59 closed, assigned to nobody

[2021-11-03 20:43] DerZwergGimli opened #226 "Request: Solar missing"
I would like to know if the topic heating.solar is implemented?

[2021-11-03 20:49] woehrl01 commented on #226
[Yes, it is implemented.](https://github.com/somm15/PyViCare/blob/master/PyViCare/PyViCareDevice.py#L188-L203)

[2021-11-03 21:43] DerZwergGimli commented on #226
Great than we can close. :)

[2021-11-04 01:59] #226 closed, assigned to nobody

[2021-11-05 15:51] DerZwergGimli opened #227 "Question: Documentation"
Hi,

I would like to know if there is an documentation about this project.

More specifically i would like to know if there is a list or doc about all the get/set functions for the different devices like: burner/circuit/...

My goal would be to loop through all getter functions of 'burner' for exmaple.

Currently i'm using the tests examples to figure out whats the functions are for the topics.
Th

[2021-11-05 16:02] DerZwergGimli commented on #227
...edit: Is this the way to go?

`methodList = [method for method in dir(PyViCareGazBoiler.GazBoiler) if method.startswith('get') is True]`
`print(methodList)`

[2021-11-05 16:02] woehrl01 commented on #227
No, currently there is no additional documentation than the [readme](https://github.com/somm15/PyViCare/blob/master/README.md).

There are examples. Especially as for the use case you describe, here: https://github.com/somm15/PyViCare/blob/master/tests/test_Integration.py

If you think a more detailed documentation is useful, feel free to contribute.

[2021-11-05 16:03] DerZwergGimli commented on #227
Yeah maybe i will do this if i can figure it all out :D

[2021-11-05 16:05] DerZwergGimli commented on #227
What does 'Gaz' stand for? Is it equal to "Gas"?

[2021-11-05 16:08] woehrl01 commented on #227
Yes, it's French for "gas". Changing this would be a breaking change for our users, which is currently not worth the trouble.

[2021-11-05 19:45] DerZwergGimli opened #228 "Question/Feature: Query for attributes/tags"
Is there a possibility to get the attributes/tags like: 'apiversion' or 'timestamp' per value/entity so something like:

**print(t.getOutsideTemperature.timestamp())
print(t.getOutsideTemperature.apiversion())**

`[...]
      "components": [],
      "apiVersion": 1,
      "uri": "https://api.viessmann-platform.io/iot/v1/equipment/installations/######/gateways/################/devices/0/features/he

[2021-11-07 09:09] Friedi1970 commented on #194
I really have no clue about python :( but anyway my HA created a binary sensor ‘ binary_sensor.vicare_burner_active’ but it’s status is claimed with exclamation mark as ‘not available’ and I don’t know why.
Is there a hint to get this working?

[2021-11-07 18:47] oischinger commented on #194
check if you have a sensor binary_sensor.vicare_burner_active_2
There was a breaking change in the latest Home Assistant release for binary sensors.

In that case delete the inactive sensor and binary_sensor.vicare_burner_active_2 will become binary_sensor.vicare_burner_active on next restart

[2021-11-07 18:57] Friedi1970 commented on #194
I have no binary_sensor.vicare_burner_active_2 but the binary_sensor.vicare_burner_active.
But this one is marked as not available :-(

[2021-11-07 19:07] oischinger commented on #194
Are you using the custom integration or the official vicare integration in Home assistant. Make sure that both are up 2 date.
There was a recent Bugfix that could apply to your problem

[2021-11-07 19:14] Friedi1970 commented on #194
Hm. I use the official one. Ho can I update the official integration?
HA is up to date (latest versions).

[2021-11-07 19:49] oischinger commented on #194
That should be fine then. You are using the latest code.

Can you check the logs and filter for Vicare?

[2021-11-07 20:08] Friedi1970 commented on #194
Wow, that’s weird. I just did a reboot and suddenly there are a lot more entities with ‘_2’ at the end.
And now the binary_sensor.vicare_burner_active_2 works.

The bad thing: all the old entities are dead while the _2-ones are working. What do you suggest to do?

[2021-11-10 19:38] oischinger commented on #194
Please remove all the dead entities and restart HA.
Then everything will behave as expected again.

This is a breaking change that was also mentioned in the latest HA Release notes.
Sorry for the confusion

[2021-11-11 11:02] Friedi1970 commented on #194
Unfortunately now the *_2 entities are active. Anyway, it works now 👍

No worries. "Wo gehobelt wird, fallen Späne."

WELL DONE!

[2021-11-24 22:26] luzik opened #232 "Question - Does it can work with Viessmann AQUAHOME SMART devices ?"
Does PyViCare can work with Viessmann AQUAHOME SMART devices ?

Is it same platform as iQUA

[2021-11-29 08:55] cagnulein commented on #194
same here. Removed the the dead entities and now it's working again. Thanks

[2021-11-29 15:57] cagnulein opened #233 "'api.viessmann.com', port=443): Read timed out"
Is the api portal down? All the requests are in timeout since 10:00 AM GMT+2 of today

<pre>Update for binary_sensor.vicare_burner_active fails
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/urllib3/connectionpool.py", line 445, in _make_request
    six.raise_from(e, None)
  File "<string>", line 3, in raise_from
  File "/usr/local/lib/python3.9/site-packages/url

[2021-11-30 07:55] cagnulein commented on #233
seems ok now

[2021-11-30 07:55] #233 closed, assigned to nobody

[2021-12-04 23:12] elenril2 opened #234 "Question: change get functions"
Hello,

I want to change get consumpionts functions in GazBoiler class to match my device Vitodens 100-W. I must change ```self.service.getProperty("heating.gas.consumption.heating")["properties"]["unit"]["value"]``` to ```self.service.getProperty("heating.gas.consumption.summary.heating")["properties"]["unit"]["value"]```.
But when I do this directly in PyViCareGazBoiler.py I've got errors:
[code

[2021-12-07 06:19] woehrl01 commented on #234
Hi @elenril2,

There isn't an active cache. It's only stored in memory so after a restart it's gone.

As I haven't seen your new property on the wild. Do you have a dump to share?

[2021-12-07 18:16] elenril2 commented on #234
Hello @woehrl01, thanks for answer. Here is my dump: https://github.com/somm15/PyViCare/pull/225

[2021-12-09 21:47] damianbro commented on #234
Hello @elenril2  @woehrl01
I made some changes according to your dump. I made new json dump today and there are some additional data.
I made also new methods to get consumption with new API properties. Here is a Pull Request for that:
[Pull Request #235 ](https://github.com/somm15/PyViCare/pull/235)

[2021-12-10 05:31] woehrl01 commented on #234
Thank you for your contribution. I just published 2.15.0

[2021-12-10 05:31] #234 closed, assigned to nobody

[2021-12-11 17:07] tmmy-cc opened #237 "Separation of heating circuit modes (DHW/heating/cooling/standby)?"
Hey!

I'm currently trying to get full control over my Viessmann Vitodens 300-W B3HG using Home Assistant and the Vicare component by @oischinger.

Besides adding additional data points, I realised that the DHW/heating/cooling mode switching is not complete at all.

In order to get full control over the heating mode, I would suggest adding independent modes for DHW and heating/cooling which will t

[2021-12-23 09:33] idstein opened #238 "Heating curve calculation"
Try to fully utilise PyVicare in my custom home assistant fork I run into an issue with regards to heating curve calculation on heat pumps (my scenario is a Vitocal 200-S with DHW tank AND buffer tank).

Looking into the current implementation it fully complies with the definition for Viessmann gas burner. The correct implementation can be extracted from Vitoguide.

All values are clipped to min a

[2021-12-23 10:21] woehrl01 commented on #238
Thank you @idstein for the hint.

This requires the extraction of the roles, which can also be used for the "auto" device type detection.

[2021-12-29 20:29] hnykda opened #240 "Cannot set program with Viessman Vitodens 100w"
Hi. I have a `E3_Vitodens_100_0421` and I am trying to set active programs. The programs seem to be available via `circuit.getPrograms()`, but I cannot set them apparently. Do you happen to know if this a limitation of Viessman API or can something be done about it? It's really limiting, as what I would want to do is to e.g. set up the gas boiler to go to `reduced` program when no one is at home,

[2021-12-30 12:43] woehrl01 commented on #238
@idstein I just finished a PR (#239) which adds the behaviour you described. You are welcome to have a look and comment if I have missed something. Thanks!

[2021-12-30 15:25] idstein commented on #238
The PR looks correct to me! Thx a lot for the quick fix.

[2021-12-30 15:25] #238 closed, assigned to nobody

[2022-01-09 17:35] woehrl01 commented on #237
Hi @thommy-io ,

That's sound like a nice addition, I use something similar with a template binary_sensor inside home assistant to toggle dhw and heating independently.

You are welcome to create a PR.

[2022-01-14 15:21] bbock opened #242 "Hybrid heatpump / gas installation not fully detected"
I have a hybrid heatpump / gas installation consisting of Vitocal 200-S and Vitodens 200-W. The Vitodens 200-W has integrated Wifi connectivity while the Vitocal 200-S depends on an external gateway (Vitoconnect OPTO2). I suppose thats why the installation has two gateways for one circuit.

In homeassistant, only the heatpump shows up as `CU401B_S`.

from https://api.viessmann.com/iot/v1/equipment

[2022-01-17 14:45] bbock commented on #242
After discussion in Discord and some testing, it is clear that this is a limitation of the Homeassistant integration and not the pyvicare package. I therefore close this issue and open a new one in the Homeassistant repository.

[2022-01-17 14:45] #242 closed, assigned to nobody

[2022-01-26 21:07] SBAABS opened #243 "PyViCareNotSupportedFeatureError: heating.burners"
Hey!

Since a few days I have an error out of the blue.
Before this error, everything was running fine. I already took attention regarding issue #194 and #195.

I receive an error message: _readFeature raise PyViCareNotSupportedFeatureError(property_name) PyViCare.PyViCareUtils.PyViCareNotSupportedFeatureError: heating.burners_

I've installed the latest version of PyViCare and run the simplest co

[2022-01-26 21:29] dennisheitmann commented on #243
I had the same error beginning at 24. January 2022 after around 20:20 CET. For me the replacement of `burner = t.burners[0]` with `burner = t.getBurner(0)` helped to solve the issue for me.

[Viessmann API to InfluxDB (using PyViCare)](https://gist.github.com/dennisheitmann/c35585b0c00ca109fcb383f01fb5eba1)

[2022-01-27 07:07] woehrl01 commented on #243
The `heating.burners` component is missing now from the response, whereas the actual data is still returned. As we use that value to find how many burners a device has, this currently fails.
This is most likely a bug in the API from Viessman. I'll have a look if a feasible workaround can be implemented.

[2022-01-27 08:40] hnykda commented on #243
Hey, exactly the same issue :cry: . @dennisheitmann workaround works in CLI, but HomeAssistant obviously don't have this in. If there could be a workaround, it would be great.

[2022-01-27 11:37] woehrl01 commented on #243
I just received a response from the viessmann support that this change was by intention and the specific data will not come back. Therefore a workaround must be implemented.

[2022-01-27 11:59] #243 closed, assigned to nobody

[2022-01-27 11:59] woehrl01 commented on #243
Just published `2.16.1` including the workaround.

[2022-01-30 21:59] te0006 opened #245 "New example: Write data from Viessmann heater to InfluxDB"
Here is a new PyViCare example, using the library to transfer timeseries data from a Viessmann heater to the InfluxDB cloud (there is a free tier which suffices for the purpose). Can be istalled on a Raspberry Pi and run in a cron script every two minutes or so.

Perhaps you want to include it in the repo.

[viessmann2influx.zip](https://github.com/somm15/PyViCare/files/7967010/viessmann2influx.zi

[2022-01-31 07:12] woehrl01 commented on #245
Hi @te0006,

I suggest to create your own repo demonstrating the example.

If you are interested we can list examples in the Readme. What are your thoughts @crazyfx1?

[2022-01-31 10:33] crazyfx1 commented on #245
I'd love to have examples, but I'm not sure where to put them. People already have problems finding the instructions on how to create the viessmann api client. Maybe we need to remove some stuff from the readme first.

[2022-01-31 11:06] dennisheitmann commented on #245
For me the Readme.md of this project is excellent. I could easily follow all instructions and had fast success.

[2022-02-01 08:06] te0006 commented on #245
+1.
There just was a connection problem at first which turned out to be a as short outage at Viessmann's servers. They happen, and not very seldomly. Perhaps the README should contain a recommendation to double-check the server status (e.g. using the Viessmann app) in case of connection problems

[2022-02-01 08:20] te0006 commented on #245
Could do that of course, but my reasoning was that connecting to Viessmann systems is a topic that will attract more hobbyists than professional developers, and they likely won't look for forks or even more loosely related other repos. If they do not find something they need within this repo, the question will be whether they'll find it at all.
And many comparable open-source projects do have an e

[2022-02-01 08:32] dennisheitmann commented on #245
Hi @te0006 ,
Maybe put your code in a gist in your personal github account first, as it is then findable and readable without downloading and extracting a zip file. I did something like you, but using more methods of the PyViCare Library: [Viessmann API to InfluxDB (using PyViCare)](https://gist.github.com/dennisheitmann/c35585b0c00ca109fcb383f01fb5eba1)

[2022-02-01 08:57] te0006 commented on #245
Good to see that but at least for me it was not very "findable". No wonder perhaps with all the SEO going on.
What I found (using Google) and started from was this blog entry: https://blog.devgenius.io/viessmann-boiler-data-to-influxdb-cloud-a9f66042663d .

It was clear to me that the way I did it was not as the creators of PyViCare intended it. However, as the V company continues to surprise us w

[2022-02-03 13:36] Styx85 opened #246 "Vitovalor PT2 fuel cell gas consumption missing"
The Viessmann ViCare App is showing additional information for the fuel cell gas consumption.
So far pyvicare only reports heating and dhw gas consumption.
Interestingly the app does not repor dhw gas consumption on its own, but the reported values for heating and dhw add up for the reported total gas values for heating. important: dhw is not equal fuel cell consumption so it really is different a

[2022-02-08 20:47] Styx85 commented on #246
[VitovalorPT2_02_2022.json.txt](https://github.com/somm15/PyViCare/files/8027278/VitovalorPT2_02_2022.json.txt)

Ok, here is a dump from today. I guess I found the actual problem, but do not really know if it is situated here in pyvicare or a little bit further up in my setup (using the vicare plugin in homeassistant).

The Viessmann Api is actually reporting three different gas consumption values

[2022-03-03 08:48] ol3k opened #249 "Lack of documentation for usage of setDomesticHotWaterCirculationSchedule"
Hi all,

I'm trying to change my DHWSchedules with the API but no params are working.
The only param that works is disabling the schedule with "" = blank:

[code]

Is there any documentation or hint what param/JSON we should have used? Any try ends up in

[code]

e.g. a output of a current Schedule:
[code]

[2022-03-05 14:32] safadig opened #250 "Question: Any example for getting Error Event Output"
How can I get the Error Events using the library?
I can get the event errors using:
https://api.viessmann.com/iot/v1/events-history/events?gatewaySerial=712345678912345619&eventType=device-error
with output:
[code]

[2022-03-14 13:29] idstein opened #251 "EEBus support / Local Vitoconnect access"
As Viessmann has committed also to EEBus and started with new product such as GridBox into the ESS space it would be really create to have a local solution to interact with the VitoConnect.

You can enable the EEBus communication in your local Vitoconnect by going to http://vitoconnect.local/cgi-bin/eebus.cgi and login with user `admin`. The password is the WPA2 number on your sticker, e.g. 123456

[2022-03-14 15:16] nils2410 commented on #249
For me it works like this:

`t.setDomesticHotWaterCirculationSchedule({"mon":[],"tue": [], "wed": [], "thu": [], "fri": [], "sat": [], "sun": []})`

`t.setDomesticHotWaterCirculationSchedule({"mon":[{"mode":"on","start":"00:00","end":"24:00","position":0}],"tue":[{"mode":"on","start":"00:00","end":"24:00","position":0}],"wed":[{"mode":"on","start":"00:00","end":"24:00","position":0}],"thu":[{"mode

[2022-03-14 15:32] adorobis commented on #251
Which vitoconnect device is needed? It does not work with mine - can't open that page. I have the Vitoconnect 100 OPTO1.

[2022-03-14 15:34] idstein commented on #251
It is a VitoConnect Opto 2 running firmware version 2.47.0.0.

[2022-03-14 16:07] adorobis commented on #251
Could you please share where you have found the information about the EEBus being enabled on vitoconnect devices? Or how could I validate if the OPTO1 version should support that?

[2022-03-14 16:12] idstein commented on #251
My local network security scanner noticed that the VitoConnect is listening on port 80. Hence, I did a bit of research and stumbled across the following related to Gridbox:

https://www.viessmann-community.com/t5/Konnektivitaet/Vitoconnect-Gridbox/td-p/174644

It could be that VitoConnect Opto1 is not supported for this.

[2022-03-14 16:16] adorobis commented on #251
Many thanks, so it looks like the OPTO2 version is needed. Will consider the upgrade (150 USD) if there is good progress with integrating the EEBUs with HA :)

[2022-03-15 07:22] ol3k commented on #249
thanks, I didn't tested this variation but it's working, closing here :-)

[2022-03-15 07:22] #249 closed, assigned to nobody

[2022-03-21 16:20] crazyfx1 opened #252 "New Viessmann Developer Portal with free / paid Tiers"
I'm sure everyone here got the newsletter from Viessmann regarding the updated developer portal. The most interesting part for me is the free / paid pricing tiers for the API.
https://developer.viessmann.com/start/pricing.html

On the first glance it looks like nothing has changed for the free users. "Advanced" users could fetch additional data from the API.

You can check in the API documentation

[2022-03-21 19:42] oischinger commented on #252
To me it sounds like it will have an effect for some users. Looks like fuel cell and solar isn't part of the free package anymore

[2022-03-21 19:43] adorobis commented on #252
The disappointing part is that some device types are not supported in the free tier...

[2022-03-21 19:43] oischinger commented on #252
I wonder if they will attract a lot of customers paying 20€ a month for some sensor readings 🤔

[2022-03-21 20:49] crazyfx1 commented on #252
If you check our fuel cell implementation (https://github.com/somm15/PyViCare/blob/master/PyViCare/PyViCareFuelCell.py), there is not a single "heating.fuelCell.*" (which would be advanced tier) property used.

Also all current solar properties implemented in https://github.com/somm15/PyViCare/blob/master/PyViCare/PyViCareDevice.py are in the basic tier.

It looks like all current properties are i

[2022-04-07 12:38] idstein commented on #251
Using EVCC EEBus implementation I could not establish a simple EEBus communication. It looks like discovery works (spine) but the correct connection / association fails.

I'm no investigating how the official EEBUS Viessman product "GridBox 2.0" is establishing its local connection to VitoConnect Opto2.

It looks like the GridBox 2.0 is actually produced by gridX and is simply a Raspberry Pi Compu

[2022-04-10 06:49] #202 closed, assigned to nobody

[2022-04-19 18:43] bong0 opened #253 "GazBoiler has no setDomesticHotWaterSchedule()"
Hey everyone,

I'm running Python 3.9 and PyViCare-2.16.1

From the capabilities dump attached, there should be the possibility to set the schedule for DHW, right? (not the circulation)
Any Idea why there is only a getter for that, but not a setter appearing?

[code]

[code]

[dump.txt](https://github.com/somm15/PyViCare/files/8515705/dump.txt)

[2022-04-21 17:26] woehrl01 commented on #253
Thanks @bong0.

I think we simply haven't implemented that method yet. Feel free to send a PR.

[2022-05-24 12:23] lxpollitt opened #254 "ViCare API now returns "heating.burners" feature - breaking burner enumeration logic?"
I'm using the Home Assistant ViCare module, which in turn uses PyViCare. Yesterday Home Assistant stopped reporting burner properties. I've done some limited debugging and I think it might be that the ViCare API has started returning "heating.burners" as a feature again (but without the legacy "components" property), which might be breaking the old legacy code method of enumerating burners here: h

[2022-05-24 12:36] woehrl01 commented on #254
Thanks @lxpollitt

that‘s interesting. But if the `components` property is missing it should still fallback to the iteration logic.

[2022-05-24 12:39] lxpollitt commented on #254
My Python knowledge is very rusty and limited, so I was not sure if a missing `components` property would get dealt with by the `suppress(PyViCareNotSupportedFeatureError)`, or get raised further up the stack resulting in the rest of the method not being executed. Or not result in any exception and just return no burners at that point?

[2022-05-24 12:56] woehrl01 commented on #254
@lxpollitt I just published `2.16.2` with the fix. Unfortunately I can‘t reproduce this on my device, so please have a look if this fixes your issue.

If not than please provide a dump of your device, so I can have a deeper look on what can be the root cause.

It happens that the API returns different results for different devices.

[2022-05-24 13:20] lxpollitt commented on #254
@woehrl01 Bumping the import version to 2.16.2 in Home Assistant looks to have resolved the issues for me and Home Assistant appears to be reporting the correct values for burner properties agin. Thank you for the extremely speedy fix!

[2022-05-24 13:33] crazyfx1 commented on #254
Small hint to the change from the Viessmann API documentation:
[code]

[2022-05-24 13:36] woehrl01 commented on #254
Thanks @crazyfx1 I think we should remove the optimization then. We also should have a look where we use that, too.

[2022-05-24 13:36] lxpollitt commented on #254
@crazyfx1 Yes, I noticed that comment too. But interestingly, when I look at the dump of features returned by the API for my boiler from a couple of months ago, it did not return 'heating.burners' as a feature. Now it returns it as a feature (and without the 'components' property). So I think the API change I'm seeing on my boiler is subtly different than what they have flagged to expect.

[2022-06-01 12:05] crazyfx1 opened #256 "Reduced resolution for specific values in ViCare API"
Viessmann has changed the resolution and update time for specific values.

[code]

The API is getting worse with every update.

[2022-06-01 16:38] woehrl01 commented on #256
@crazyfx1 looks like that there is no change from us required, isn't it?

[2022-06-01 17:26] crazyfx1 commented on #256
No, unfortunately we can't do anything.

The result of the change can be seen here. Choppy curve, values are not getting updated that often anymore.
![vicare](https://user-images.githubusercontent.com/9930385/171465720-8d5922e6-5811-4788-bedc-3a4581c62885.png)

[2022-07-04 19:47] skahlhoefer opened #257 "TypeError resp. unhandled exception when calling probably unsupported features"
Hi there,

I'm using Home Assistant and recently added the ViCare integration which seems to be heavily based on this great module.
While trying to make use of the domestic hot water one time charge, I received a TypeError which has been Home Assistant wise logged as the following issue: https://github.com/home-assistant/core/issues/73064

Doing some further personal investigation I found out that

[2022-07-04 20:13] #257 closed, assigned to nobody

[2022-07-04 20:14] woehrl01 commented on #257
Just published `2.16.3` including a fix. Thanks for reporting @skahlhoefer !

[2022-07-04 20:25] #254 closed, assigned to nobody

[2022-07-04 20:27] woehrl01 commented on #254
Just removed all direct access of the `components` field in `2.16.4`.

[2022-07-04 20:37] skahlhoefer commented on #257
Wow, that was extremely fast. Thanks for that @woehrl01 !

[2022-07-05 04:10] #256 closed, assigned to nobody

[2022-07-05 04:10] woehrl01 commented on #257
You're welcome @skahlhoefer

[2022-08-15 09:16] amgstone opened #261 "room_temperature from home assistant to vicare"
good afternoon, tell me how to transfer room_temperature from home assistant to vicare?

[2022-08-15 09:28] amgstone opened #262 "Dont work in viessmann Vitodens b2ha 200w"
Dont work in viessmann Vitodens b2ha 200w (preset_modes: comfort, eco, none)

![qwer](https://user-images.githubusercontent.com/63303107/184611387-62554020-19f0-4b65-94d6-2bce7371d1ab.jpg)

[2022-08-15 10:29] woehrl01 commented on #262
@amgstone can you please be more precise what you issue is. I don't understand. This repo is only the underlying library. For the home assistant integration please see: https://github.com/oischinger/ha_vicare

[2022-08-15 10:31] woehrl01 commented on #261
This needs to be added via the home assistant integration: https://github.com/oischinger/ha_vicare. As long as it is the default room temperature of the heating device this feature is already implemented in the library.

[2022-08-15 10:31] #261 closed, assigned to nobody

[2022-08-15 17:03] #262 closed, assigned to nobody

[2022-09-02 23:23] TheJulianJES opened #263 "Removal of standalone "unit"-properties"
See https://documentation.viessmann.com/static/changelog under ``Removal of standalone "unit"-properties``.
https://github.com/somm15/PyViCare/pull/260 seemingly tried to fix this but I don't think that would solve the issue.

Related HA issue with some more discussion: https://github.com/home-assistant/core/issues/77693

<details>
  <summary>Click to see new API output</summary>

API output for `

[2022-09-11 17:09] #263 closed, assigned to nobody

[2022-09-13 19:43] wita-sec opened #265 "Heatpump: how to retrieve Thermal Performance and Energy input?"
Q: Is there a way with the PyViCare API to retrieve  Thermal Performance and Energy input?
I did not yet find this in the code.
If not, do you plan to add this feature to the API?
BTW, what you provide so far is really great, and it worked for me from scratch.

[2022-09-16 16:21] crazyfx1 commented on #265
We can only add values which are provided by the Viessmann API. For my heatpump Vitocal 200 I can't find those values in the API.
To be honest I'm also not sure what those values mean (maybe you can write the german names ;) )

[2022-09-16 19:34] wita-sec commented on #265
These are the German names:
Energieverbrauch und Thermische Leistung
You can find this in the ViCare APP under Analyse/Energiebilanz
Its interesting for me to monitor the effectivity of the heatpump on a per day / per month / etc base.

Thank you for investigating

[2022-09-16 20:16] Kasper027 opened #266 "Boiler Supply Temperature for HeatPump"
Hey, i need the Boiler Supply Temperature also for the Heatpump. Is it possible to get it?

[2022-09-21 09:41] mikissling opened #268 "Viessmann API call consumption"
Hallo all,

is it normal that each call of my following script consumes 2 API calls or am I doing something wrong?

[code]

Thanks for any hint!

[2022-09-21 09:58] crazyfx1 commented on #268
Yes, unfortunately if running as script, the library has to fetch the list of installations / devices first and then fetches the data. This results in 2 used API calls.

[2022-09-21 11:15] mikissling commented on #268
Ok, understood. Thanks!

[2022-09-21 11:15] #268 closed, assigned to nobody

[2022-09-29 09:05] Sorien opened #270 "min and max temperature for desired program"
there is function setProgramTemperature to set temperature for certain program

[code]

but no way how to find out allowed range and stepping, even though vicare API contains these values

[code]
A similar function exists in pyvicare for DWH part getDomesticHotWaterMinTemperature. getDomesticHotWaterMaxTemperature

[2022-09-29 14:24] MichaelHultqvist opened #271 "flue gas temperature"
Hi,

I've just found out about PyViCare and I find it very useful, but I have one question. I can see the flue gas temperature on my Vitodens 300 furnace in the Vicare app and according to the Viessmann documentation there is a datapoint called heating.flue.sensors.temperature.main which supposedly would be the what I am searching for, but I get the "PyViCareNotSupportedFeatureError:" message. Is

[2022-09-29 16:37] woehrl01 commented on #271
@MichaelHultqvist Thank you, nice to hear that this library is useful for you.

If according to the documentation this is the right entry and you'll receive the not supported error, this field is not populated via the api. What you could do is creating a dump according to the Readme and have a look if the value is returned in an alternative property. It's known that the name can slightly differ.

[2022-09-30 08:53] lukx opened #272 "PyViCareCommandError can sometimes get a string"
Hey,
in [`__init__` of PyViCareCommandError](https://github.com/somm15/PyViCare/blob/69496fa4aafe034d133946577b8b26359e4ccea4/PyViCare/PyViCareUtils.py#L120), the `response` is expected to be a dictionary / map.
However, in [L60](https://github.com/somm15/PyViCare/blob/master/PyViCare/PyViCareUtils.py#L60) we are instantiating it with a String argument, possibly leading to the problem observed by

[2022-09-30 09:01] woehrl01 commented on #272
@lukx Nice catch. Yes, this is bug. I guess the best option is to extend the "PyViCareCommandError", to still be able to pass the function name, but also the response.

An alternative is to handle the possibility to pass a string as an argument and just use that in the msg.

You are welcome to create a PR.

[2022-10-01 12:45] MichaelHultqvist commented on #271
Thanks for the help. I now did a dump as suggested and the data point is not available in the dump, which could be related to the fact that I only use the basic plan. However I use the Getproperty method and get the response:
"PyViCareNotSupportedFeatureError: heating.flue.sensors.temperature.main", so I was wondering if it would also not be supported by PyViCare even if I had the advanced plan.

[2022-10-01 12:49] woehrl01 commented on #271
Unfortunately only the Viessmann support is likely able to answer you that question.

[2022-10-01 16:59] MichaelHultqvist commented on #271
Yes you are right, and right now the advanced Viessman scheme is only available in Germany, so the answer will make no difference to me. Thanks for pointing out the dump option though, it has made it quite easy to see which data points I can get 👍

[2022-10-01 16:59] #271 closed, assigned to nobody

[2022-10-10 06:41] Kasper027 commented on #266
can me help anyone?

[2022-10-27 16:43] pavelsidla opened #273 "ViCare exporter"
Hello guys did somebody plan do make ViCare exporter for prometheus?

[2022-11-03 16:40] senufo opened #274 "IndexError: list index out of range for device"
Hi,
I need help understanding how to configure API access.
I have created a developer account and a new OAUTH client with:
[code]
I used the demo program with the client id, my email and my password. The connection is going well I have the trace in the dashboard of Viessman but it returns me no device!

The vicare app works well with my boiler (VITODENS 222F).

Is there an additional action to do

[2022-11-03 18:25] crazyfx1 commented on #274
The problem is most likely that you've created a new account. You should have logged in with your existing vicare account to the developer portal as stated in the readme.

[2022-11-05 10:02] senufo commented on #274
Thanks.
I started again with the same identifiers as on the application and it worked but I had to wait 24 hours before being able to get the informations

[2022-11-11 07:57] #274 closed, assigned to nobody

[2022-11-14 21:40] wita-sec commented on #265
I have got some hints on this at the Viessmann Community.

heating.power.consumption.total
and
heating.power.consumption.dhw
provide  data about the energy consumption
see: https://www.viessmann-community.com/t5/The-Viessmann-API/Energieverbrauch-und-thermische-Leistung-per-API-abfragen/m-p/257309#M905

To PyViCareHeatPump.py (class HeatPump)  I added following lines of code for prototyping:

[2022-11-16 13:21] factor4 commented on #265
I'm interested about that too. It would be great if that could be added. 👍 Thanks!

[2022-11-18 16:48] nagelp commented on #252
They've lowered the price for "Advanced" now, to ~12 €/month (but only if you go for annual billing). Still too expensive to attract lots of developers. But better than 20... I've opened a [PR](https://github.com/somm15/PyViCare/pull/275) to add the Fuel Cell functions.

[2022-11-19 13:06] #272 closed, assigned to nobody

[2022-11-19 13:10] woehrl01 commented on #246
Fixed via #275

[2022-11-19 13:10] #246 closed, assigned to nobody

[2022-11-19 13:12] #265 closed, assigned to nobody

[2022-11-20 05:07] cagnulein opened #279 "Donations"
Hi @somm15 why don't you add a buy me a coffee link or something in this repository (sponsorship item here on github).

I would like to donate something since i'm using this integration a lot

Thanks for your hard work!

[2022-11-20 09:20] woehrl01 commented on #279
Thank you @cagnulein for offering donations to the project.

Even though this repo is officially under @somm15 account, the current maintainers are @crazyfx1 and myself (@woehrl01).

If you want to sponsor me, you can do that via [Github sponsorship](https://github.com/sponsors/woehrl01). Thanks!

[2022-11-20 09:43] crazyfx1 commented on #273
This is not in the scope of this project. This library is only used to fetch the data from the viessmann API.

A prometheus exporter would be a new project, which could use PyViCare to fetch the data.

[2022-11-20 09:43] #273 closed, assigned to nobody

[2022-11-20 10:52] cagnulein commented on #279
@woehrl01 done! thanks!
also just a quick question: are decimal supported to set the target temperatures? i did a quick test today and it seemed that it cast it always to integer

thanks

[2022-11-20 17:46] woehrl01 commented on #279
Thanks a lot. This is highly appreciated. 🙏

Yes, the value gets casted to integer. Can you please check the following response value for your device: https://github.com/somm15/PyViCare/blob/59a382bd1067429b36734aa4a2d773a559cf903f/tests/response/Vitodens200W.json#L259

If this shows a sub-total stepping, we can have a look to implement some logic around that.

[2022-11-20 17:50] cagnulein commented on #279
still 1 as step for me too :( it's strange because from the viessman app i can change the 0.5

doesn't the app use the same api?

[2022-11-20 17:52] cagnulein commented on #279
sorry i was wrong

https://github.com/somm15/PyViCare/pull/177/files

it has 0.5 for stepping

[2022-11-21 08:54] woehrl01 opened #280 "Feature: Enable 0.5 steps on setTemperature"
https://github.com/somm15/PyViCare/issues/279#issuecomment-1321200568

some devices allow setting the temperature in 0.5 steps instead of full numbers.

[2022-11-29 14:51] denmaus opened #283 "Add data point "volumetricFlow" from Viessmann API"
In the Basic version of the API there is a data point `heating.sensors.volumetricFlow.allengra`.
This data point was added on august 2022 into the api see [link](https://www.viessmann-community.com/t5/The-Viessmann-API/viessmannapi-2-0-9-und-IOBroker-Volumenstrom/m-p/250727/highlight/true#M866).

Can this data point be added to the library?

I have a Vitodens 343-F heater which is integrated via h

[2022-11-30 06:40] sweh opened #284 "API broken?"
Hi there,

since 01:00 UTC, I don't get data from the API. Login seems to work, but every data request results in a

`PyViCare.PyViCareUtils.PyViCareNotSupportedFeatureError: <property>`

e.g.

`PyViCare.PyViCareUtils.PyViCareNotSupportedFeatureError: heating.dhw.sensors.temperature.hotWaterStorage`.

Can someone confirm it? Is this a temporary problem or did the Viessmann api change?

[2022-11-30 06:45] crazyfx1 commented on #284
They announced an API change but it should go live in January 2023.
https://documentation.viessmann.com/static/changelog

So I hope it's just temporarily.

[2022-11-30 07:23] woehrl01 opened #285 "Adapt to dhw api change effective in January 2023"
This will be likely a breaking change for API. We need to investigate how this can be hidden for consumers. This is also the first time we have to use different endpoints based on the sub type.

[2022-11-30 07:46] sweh commented on #284
API is back again. Nevermind,

[2022-11-30 07:46] #284 closed, assigned to nobody